{% macro mostrar_dipus_org(dipus) %}
{% spaceless %}
{% set titulogen=1%}
{% set tituloVP=0%}
{% set tituloS=0%}
{%if dipus['VP'] or dipus['VP1'] or dipus['VP2'] or dipus['VP3'] or dipus['VP4'] %}{% set tituloVP=1%}{%endif%}
{%if dipus['S'] or dipus['S1'] or dipus['S2'] or dipus['S3'] or dipus['S4'] %}{% set tituloS=1%}{%endif%}
{% endspaceless%}

{%for ctipo in cargotipos%}
{%if dipus[ctipo] %}
	{%spaceless%}
	{% if ctipo=="VP"%}
		{%if tituloVP==1%}{% set titulogen==1%}{%else%}{%set titulogen=0%}{%endif%}
	{% elseif ctipo="S"%}
		{%if tituloS==1%}{% set titulogen==1%}{%else%}{%set titulogen=0%}{%endif%}
	{%elseif ctipo=="S1" or ctipo=="S2" or ctipo=="S3" or ctipo=="S4" or ctipo="VP1" or ctipo="VP2" or ctipo="VP3" or ctipo="VP4"%}
		{%set titulogen=0%}	
	{% else %}
		{% set titulogen=1%}
	{%endif%}
	{%endspaceless%}
	{% if titulogen==1%}
		<h4>{{ctipo | cargo_tipo}}</h4>
		<ol class="diputados">
	{%endif%}

	{% for diputado in dipus[ctipo] %}
		{% spaceless%}	
		{% if diputado.sexo=="H"%}
			{% set cargonom = diputado.cargo | cargo_friendly_h %}
		{%else%}
			{% set cargonom = diputado.cargo | cargo_friendly_m %}
		{%endif%}
		{%endspaceless%}
<li class="diputado grupo-{{diputado.grupo | slugify }} partido-{{diputado.partido | slugify}}">
	<a href="/diputado/{{diputado.normalized.url}}" title="Ver ficha de {{diputado.nombre}} {{diputado.apellidos}}">
		{{diputado.url}}
		<span class="fotoimg">
			<img src="/img/imagenesDipus/{{diputado.id}}.jpg" alt="Fotografía de {{diputado.nombre}} {{diputado.apellidos}}">
		</span>
		<span class="nombre"><b>{{diputado.apellidos}}</b>, {{diputado.nombre}}</span>
		<img class="partidoimg" src="/img/logosPartidos/{{diputado.partido }}.png" alt="logotipo del partido {{diputado.partido}}">
	</a>
	<a href="#">
		<span class="partido">{{cargonom}}</span>
ii	</a>
</li>	
	{%endfor%}
	{% if titulogen==1%}</ol>{%endif%}
{%endif%}
{%endfor%}
{% endmacro %}


{% if dipus %}<h3>{{dipus | length}}</h3>{%endif%}
{% if dipusact %}<h3>{{dipusact | length}}</h3>{%endif%}

