<ul class="votaciones">
{% for votacion in votaciones %}
	<li class="votacion">
		<div class="info">
			<span class="sesion">Sesión {{votacion.xml.resultado.informacion.sesion}} - </span>
			<span class="numerovotacion">Votación {{votacion.xml.resultado.informacion.numerovotacion}} - </span>
			<span class="fecha">{{votacion.xml.resultado.informacion.fecha | fecha}}</span>
		</div>
		<div class="tituloVotacion"><a href="../votacion/sesion/{{votacion.xml.resultado.informacion.sesion}}/votacion/{{votacion.xml.resultado.informacion.numerovotacion}}">{{votacion.xml.resultado.informacion.textoexpediente}}</a></div>
{%spaceless%}

{%set tipoVot = votacion.numExpediente | tipoInic %}
{% if votacion.xml.resultado.totales.asentimiento == "Sí"%}
	{% set txtResul="Aprobada por asentimiento"%}{%set iresul="thumbs-up"%}{% set votog="sí"%}

{%else %}
	{# Votación constitucional #}
	{%if tipoVot==100%}
		{% if votacion.xml.resultado.totales.afavor | toInt > 210 %}
			{% set txtResul="Aprobada"%}{%set iresul="thumbs-up"%}{%set votog="sí"%}
		{% else %}
			{% set txtResul="Rechazada" %}{% set iresul="thumbs-down"%}{%set votog="no"%}
		{% endif %}

	{# Estatuto de autonomía o reforma del reglamento #}
	{%elif tipoVot==127 or tipoVot==410 %}
		{% if votacion.xml.resultado.totales.afavor | toInt > 176 %}
			{% set txtResul="Aprobada"%}{%set iresul="thumbs-up"%}{%set votog="sí"%}
		{% else %}
			{% set txtResul="Rechazada" %}{% set iresul="thumbs-down"%}{%set votog="no"%}
		{% endif %}
	
	{# Iniciativa ordinaria #}
	{%else%}
		{% if votacion.xml.resultado.totales.afavor | toInt > votacion.xml.resultado.totales.encontra | toInt%}
			{% set txtResul="Aprobada"%}{%set iresul="thumbs-up"%}{%set votog="sí"%}
		{% elif votacion.xml.resultado.totales.afavor | toInt == votacion.xml.resultado.totales.encontra | toInt%}
			{% set txtResul="Empate"%}{%set iresul="minus-square-o"%}{%set votog="no"%}
		{% else %}
			{% set temp="Entra donde no debe"%}
			{% set txtResul="Rechazada" %}{% set iresul="thumbs-down"%}{%set votog="no"%}
		{% endif %}
	{%endif%}
{% endif %}

{% set _votacion = votacion.xml.resultado.votaciones.votacion|first %}
{% if _votacion.voto == "No" %}{% set txtVoto="Votó en contra" %}{% set ivoto="thumbs-down"%}
{% elseif _votacion.voto == "Sí" %}{% set txtVoto="Votó a favor"%}{% set ivoto="thumbs-up"%}
{% elseif _votacion.voto == "No vota" %}{% set txtVoto="No vota"%}{% set ivoto="times"%}
{% elseif _votacion.voto == "Abstención" %}{% set txtVoto="Abstención"%}{% set ivoto="minus-square-o"%}
{% endif %}

{%endspaceless%}
		<div class="resultado">
			<!--<span class="asentimiento {{votacion.xml.resultado.totales.asentimiento | slugify}}"><i class="fa fa-thumbs-{{iresul}}"> </i> {{txtResul}}</span>-->
			<span class="voto {{votog | slugify}}"><i class="fa fa-{{iresul}}"> </i> {{txtResul}}</span>
			<span class="voto {{_votacion.voto | slugify}}"><i class="fa fa-{{ivoto}}"> </i> {{txtVoto}}</span>
		</div>
		<div class="textoExpediente">{{votacion.xml.resultado.informacion.titulo}}</div>
	</li>
{% endfor %}
</ul>
