{# Comentario #}

{% macro muestra_cargos_tipo(cargos, organos, sexo, tipo) %}
{% for cargo_c in cargos%}
	{% spaceless %}
	{% if sexo=="H" %}
		{% set cargo= cargo_c.cargo | cargo_friendly_h  %}
	{% else %}
		{% set cargo= cargo_c.cargo | cargo_friendly_m %}
	{% endif %}

		{% if tipo == "DP" %}{% set organo_cool = "Diputación Permanente" %}{%set organo_href="diputacion-permanente"%}
		{% elseif tipo == "JP" %}{% set organo_cool = "Junta de Portavoces" %}{%set organo_href="junta-de-portavoces"%}
		{% elseif tipo == "MC" %}{% set organo_cool = "Mesa del Congreso" %}{%set organo_href="mesa-del-congreso"%}
		{% else %}
		{% for organo in organos %}
			{% if organo.id == cargo_c.idOrgano %}
				{% set organo_cool = organo.nombre %}
				{% set organo_href=organo.normalized.url%}
			{% endif %}
		{%endfor%}
		{%endif%}

	{% if cargo_c.baja %}
		{% set altabaja = "Desde el "+cargo_c.alta+" hasta el "+cargo_c.baja %}
	{% else %}
		{% set altabaja = "Desde el "+cargo_c.alta %}
	{% endif %}
	{%endspaceless%}
		<tr><td>{{cargo}}</td><td><a href='/organo/{{organo_href}}'>{{organo_cool}}</a></td><td>{{altabaja}}</td></tr>
{%endfor%}
{% endmacro %}
<div class="cargos_congreso mark">
	<table id="cargos_congreso" class="large-12 columns">
		{%spaceless%}
		{% set cargosact = cargos_act %}
		{% set cargoshist = cargos_act%}
		{% set cargosact = cargosact | poda_sin('baja') |cargos_ord | groupBy('tipoOrgano')%}
		{% set cargoshist = cargoshist | poda_con('baja') | cargos_ord | groupBy('tipoOrgano')%}
		{% if cargosact["JP"] or cargosact["MC"] or cargosact["DP"] or cargosact["C"] or cargosact["SC"]%}
			{% set haycargosact = 1 %}
		{%endif%}
		{% if cargoshist["JP"] or cargoshist["MC"] or cargoshist["DP"] or cargoshist["C"] or cargoshist["SC"]%}
			{% set haycargoshist = 1 %}
		{%endif%}
		{%endspaceless%}
		
		<tr><th style="font-size:20px;" colspan="3">Cargos actuales</th></tr>
		{%if cargosact["DP"] or cargosact["JP"] or cargosact["MC"] %}
			<tr><th colspan="3">Órganos principales</th></tr>
			{% if cargosact["MC"] %}{{ muestra_cargos_tipo(cargosact["MC"],organos,diputado.sexo,"MC") }}{% endif %}
			{% if cargosact["JP"] %}{{ muestra_cargos_tipo(cargosact["JP"],organos,diputado.sexo,"JP") }}{% endif %}
			{% if cargosact["DP"] %}{{ muestra_cargos_tipo(cargosact["DP"],organos,diputado.sexo,"DP") }}{% endif %}
	        {% endif %}
		{%if cargosact["C"]%} 
			<tr><th colspan="3">Comisiones</th></tr>
			{{muestra_cargos_tipo(cargosact["C"],organos,diputado.sexo,"C") }}
		{% endif %}
		{%if cargosact["SC"]%}
			<tr><th colspan="3">Subcomisiones</th></tr>
			{{ muestra_cargos_tipo(cargosact["SC"],organos,diputado.sexo,"SP") }}
		{% endif %}
		{% if !haycargosact %}
			<tr><td colspan="3"><i>El diputado no tiene ningún cargo actualmente en el Congreso.</i></td></tr>
		{%endif%}	

	        <tr><th style="font-size:20px;" colspan="3">Cargos históricos</th></tr>
		{%if cargoshist["DP"] or cargoshist["JP"] or cargoshist["MC"] %}
			<tr><th colspan="3">Órganos principales</th></tr>
			{% if cargoshist["MC"] %}{{ muestra_cargos_tipo(cargoshist["MC"],organos,diputado.sexo,"MC") }}{% endif %}
			{% if cargoshist["JP"] %}{{ muestra_cargos_tipo(cargoshist["JP"],organos,diputado.sexo,"JP") }}{% endif %}
			{% if cargoshist["DP"] %}{{ muestra_cargos_tipo(cargoshist["DP"],organos,diputado.sexo,"DP") }}{% endif %}
	        {% endif %}
		{%if cargoshist["C"]%}
			<tr><th colspan="3">Comisiones</th></tr>
			{{muestra_cargos_tipo(cargoshist["C"],organos,diputado.sexo,"C") }}
		{% endif %}
		{%if cargoshist["SC"]%}
			<tr><th colspan="3">Subcomisiones</th></tr>
			{{ muestra_cargos_tipo(cargoshist["SC"],organos,diputado.sexo,"SC") }}
		{% endif %}
		{% if !haycargoshist %}
			<tr><td colspan="3"><i>El diputado no tiene ningún cargo histórico en el Congreso en esta legislatura.</i></td></tr>
		{%endif%}
    </table>
</div>
