<ul class="organos">
<li class="organo {% if active == 'MC' %}active{% endif %}">
	<a href="/organo/mesa-del-congreso">Mesa del Congreso</a>
</li>
<li class="organo {% if active == 'JP' %}active{% endif %}">
	<a href="/organo/junta-de-portavoces">Junta de Portavoces</a>
</li>
<li class="organo {% if active == 'DP'%}active{% endif %}">
	<a href="/organo/diputacion-permanente">Diputación Permanente</a>
</li>
<li class="organo {% if active == 'C'%}active{% endif %}">
	<a href="/comisiones">Comisiones</a>
</li>
<li class="organo {% if active == 'SC' %}active{% endif %}">
	<a href="/subcomisiones">Subcomisiones</a>
</li>

</ul>
