<h1>Últimos artículos</h1>
<ul>
	{% for post in posts %}
	<li>
		<div class="post">
			<h1><a href="{{post.link}}">{{post.title}}</a></h1>
			<span class="date"><i class="fa fa-calendar"></i>{{ post.pubDate | dateFromNow }}</span>
			<img src="{{post.description|post_img_src}}" alt="{{post.description|post_img_alt}}">
			<div class="summary">{{post.summary|raw}}<!--span> ó </span>
				<a href="{{post.meta.link}}">ir al blog</a></div-->
			<div class="links">
				<a href="{{post.link}}" class="btn">Seguir leyendo</a>
				<span> ó </span>
				<a href="{{post.meta.link}}">ir al blog</a>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>