<ul class="iniciativas">
{% for iniciativa in iniciativas %}
<li class="iniciativa">
        <a href="#">
                <i class="fa fa-circle"></i> 
                <span>{{iniciativa.titulo}}</span>
        </a>
        <span>Presentado el {{iniciativa.presentado |fecha }}, calificado el {{iniciativa.calificado |fecha }}</span>
        {%if iniciativa.resultado_tramitacion%}<span>Resultado de tramitación: {{iniciativa.resultado_tramitacion}}</span>
        {%else%}<span>Iniciativa en tramitación</span>
        {%endif%}
</li>
{% endfor %}
</ul>
