<ul class="firstLetterFilter">
	<li><a href="#"><span>Todos</span></a></li>
	<li><a href="#"><span>A</span></a></li>
	<li><a href="#"><span>B</span></a></li>
	<li><a href="#"><span>C</span></a></li>
	<li><a href="#"><span>D</span></a></li>
	<li><a href="#"><span>E</span></a></li>
	<li><a href="#"><span>F</span></a></li>
	<li><a href="#"><span>G</span></a></li>
	<li><a href="#"><span>H</span></a></li>
	<li><a href="#"><span>I</span></a></li>
	<li><a href="#"><span>J</span></a></li>
	<li><a href="#"><span>K</span></a></li>
	<li><a href="#"><span>L</span></a></li>
	<li><a href="#"><span>M</span></a></li>
	<li><a href="#"><span>N</span></a></li>
	<li><a href="#"><span>O</span></a></li>
	<li><a href="#"><span>P</span></a></li>
	<li><a href="#"><span>Q</span></a></li>
	<li><a href="#"><span>R</span></a></li>
	<li><a href="#"><span>S</span></a></li>
	<li><a href="#"><span>T</span></a></li>
	<li><a href="#"><span>U</span></a></li>
	<li><a href="#"><span>V</span></a></li>
	<li><a href="#"><span>W</span></a></li>
	<li><a href="#"><span>X</span></a></li>
	<li><a href="#"><span>Y</span></a></li>
	<li><a href="#"><span>Z</span></a></li>
</ul>