<div class="row fullrow footer">
		<div class="row">
			<div class="large-12 small-12 columns">
				<dl class="large-3 small-12 columns section">
					<dt><span>Comunidad</span></dt>
					<dd><a href="http://www.twitter.com/que_hacen" target="_blank"><i class="social twitter"></i><span>@que_hacen</span></a></dd>
					<dd><a href="https://www.facebook.com/qhacenlosdiputados" target="_blank"><i class="social facebook"></i><span>quehacenlosdiputados</span></a></dd>
					<dd><a href="http://www.youtube.com/channel/UCThpONVg_hOP2v-_NJNxqNA" target="_blank"><i class="social youtube"></i><span>que_hacen</span></a></dd>

				</dl>
				<dl class="large-3 small-12 columns section">
					<dt><span>Sitio Web</span></dt>
					<dd><a href="/"><span>Portada</span></a></dd>
					<dd><a href="/diputados"><span>Diputados</span></a></dd>
					<dd><a href="/grupos-parlamentarios"><span>Grupos parlamentarios</span></a></dd>
					<dd><a href="/votaciones"><span>Votaciones</span></a></dd>
					<dd><a href="/circunscripciones"><span>Circunscripciones</span></a></dd>
				</dl>
				<dl class="large-3 small-12 columns section">
					<dt><span>Sobre nosotros</span></dt>
					<dd><a href="/quienes-somos"><span>Quiénes somos</span></a></dd>
					<dd><a href="/redes-sociales"><span>Dónde encontrarnos</span></a></dd>
					<dd><a href="/agenda"><span>Agenda</span></a></dd>
					<dd><a href="/financiacion"><span>Cómo nos financiamos</span></a></dd>
					<dd><a href="/quienes-somos#patrocinadores"><span>Patrocinadores</span></a></dd>
					<dd><a href="/agradecimientos"><span>Agradecimientos</span></a></dd>
					<dd><a href="/condiciones-uso"><span>Condiciones de uso</span></a></dd>
					<dd><a href="/politica-privacidad"><span>Política de privacidad</span></a></dd>
				</dl>
				<dl class="large-3 small-12 columns section">
					<dt><span>Colabora</span></dt>
					<dd><a href="/sigue-diputado"><span>Sigue a tu diputado</span></a></dd>
					<dd><a href="/colaboradores"><span>Colaboradores</span></a></dd>
					<dd><a href="http://www.congreso.es/portal/page/portal/Congreso/Congreso/Hist_Normas/Norm/Reglam"><span>Reglamento del Congreso</span></a></dd>	
				</dl>
			</div>
		</div>
	</div>
