<div class="row fullrow header">
		<div class="row">
			<div class="large-12 small-12 columns">
				<h1>Que hacen los Diputados?</h1>
				<form action="/search">
					<input type="text" placeholder="Buscar" />
					<input type="submit" value="Buscar">
				</form>	
			</div>
		</div>
	</div>
	<div class="row fullrow nav secondary nav-bar">
		<div class="row">
			<div class="large-12 small-12 columns">
				<ul>
					<li><a href="/" class="{% if pageActive=='portada' %}active{% endif %}">Portada</a></li>
					<li><a href="http://quehacenlosdiputados.net" class="{% if pageActive=='blog' %}active{% endif %}">Blog</a></li>
					<li><a href="/diputados" class="{% if pageActive=='diputados' %}active{% endif %}">Diputados</a></li>
					<li><a href="/grupos-parlamentarios" class="{% if pageActive=='grupos' %}active{% endif %}">Grupos parlamentarios</a></li>
					<!--
					<li><a href="/votaciones" class="{% if pageActive=='votaciones' %}active{% endif %}">Votaciones</a></li>
					-->
					<li><a href="/circunscripciones" class="{% if pageActive=='circunscripciones' %}active{% endif %}">Circunscripciones</a></li>
					<!--
					<li><a href="/hemiciclo" class="{% if pageActive=='hemiciclo' %}active{% endif %}">Hemiciclo</a></li>
					-->
					
					<li class="right"><a href="/donde-encontrarnos" class="{% if pageActive=='contacto' %}active{% endif %}">Contacta</a></li>
					<li class="right"><a href="/sigue-diputado" class="{% if pageActive=='sigue-diputado' or pageActive=='colaboradores' or pageActive=='mas-informacion-diputados' %}active{% endif %}">Colabora</a></li>
					<li class="right"><a href="/quienes-somos" class="{% if pageActive=='quienesSomos' or pageActive=='como-nos-financiamos' or pageActive=='agradecimientos' or pageActive=='politica-privacidad' or pageActive=='condiciones-uso' or pageActive=='donde-encontrarnos' or pageActive=='agenda' %}active{% endif %}">Nosotros</a></li>
				</ul>	
			</div>
		</div>
	</div>
