<div class="row fullrow header">
		<div class="row">
			<div class="large-12 small-12 columns">
				<div class="large-9 columns">
				<a href="/"><h1>¿Qué hacen los Diputados?</h1></a>
				</div>
				<!--<a href="/"><h1>¿Qué hacen los Diputados?</h1></a>-->
	         <div class="filtros large-3 columns" id="buscHeader">
                   <div class="filtrosContainer buscador"> 
						<form action="/search" method="post">
							<input type="submit" value="Buscar">
							<input type="text" name="q" placeholder="Buscar" />
						</form>
				   </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row fullrow nav secondary nav-bar">
		<div class="row">
			<div class="large-12 small-12 columns">
				<ul>
					<li><a href="/" class="{% if pageActive=='portada' %}active{% endif %}">Portada</a></li>
					<li><a href="http://blog.quehacenlosdiputados.net" class="{% if pageActive=='blog' %}active{% endif %}">Blog</a></li>
					<li><a href="/diputados" class="{% if pageActive=='diputados' %}active{% endif %}">Diputados</a></li>
					<li><a href="/iniciativas" class="{% if pageActive=='iniciativas' %}active{% endif %}">Iniciativas</a></li>
					<li><a href="/intervenciones" class="{% if pageActive=='intervenciones' %}active{% endif %}">Intervenciones</a></li>
					<li><a href="/votaciones" class="{% if pageActive=='votaciones' %}active{% endif %}">Votaciones</a></li>
					<li><a href="/grupos-parlamentarios" class="blanca {% if pageActive=='grupos' %}active{% endif %}">Grupos</a></li>
					<li><a href="/organos" class="blanca {% if pageActive=='organos' %}active{% endif %}">Órganos</a></li>
					<li><a href="/circunscripciones" class="blanca {% if pageActive=='circunscripciones' %}active{% endif %}">Circunscripciones</a></li>
					<!--
					<li><a href="/hemiciclo" class="{% if pageActive=='hemiciclo' %}active{% endif %}">Hemiciclo</a></li>
					-->
					
					<!--<li class="right"><a href="/donde-encontrarnos" class="{% if pageActive=='contacto' %}active{% endif %}">Contacta</a></li>
					<li class="right"><a href="/sigue-diputado" class="{% if pageActive=='sigue-diputado' or pageActive=='colaboradores' or pageActive=='mas-informacion-diputados' %}active{% endif %}">Colabora</a></li>
					<li class="right"><a href="/quienes-somos" class="{% if pageActive=='quienesSomos' or pageActive=='como-nos-financiamos' or pageActive=='agradecimientos' or pageActive=='politica-privacidad' or pageActive=='condiciones-uso' or pageActive=='donde-encontrarnos' or pageActive=='agenda' %}active{% endif %}">Nosotros</a></li>-->
				</ul>
				<ul style="display:block;float:right;">
<!--
					<dd><a href="http://www.twitter.com/que_hacen" target="_blank"><i class="social twitter"></i><span>@que_hacen</span></a></dd>
                                        <dd><a href="https://www.facebook.com/qhacenlosdiputados" target="_blank"><i class="social facebook"></i><span>quehacenlosdiputados</span></a></dd>
                                        <dd><a href="http://www.youtube.com/channel/UCThpONVg_hOP2v-_NJNxqNA" target="_blank"><i class="social youtube"></i><span>que_hacen</span></a></dd>
-->	
			
					<li><a href="http://www.twitter.com/que_hacen" target="blank_" id="rrssheader" class="tw">
						<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a></li>
					<li><a href="https://www.facebook.com/qhacenlosdiputados" target="blank_" id="rrssheader" class="fb">
						<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a></li>
					<li><a href="http://www.youtube.com/channel/UCThpONVg_hOP2v-_NJNxqNA" target="blank_" id="rrssheader" class="utube">
						<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
						</span>
					</a></li>
				</ul>	
			</div>
		</div>
	</div>
