<ul class="menuNosotros">
	<li class="{% if pageActive=='quienesSomos' %}active{% endif %}">
		<a href="/quienes-somos"><i class="fa fa-circle"></i><span>Quiénes somos</span></a>
	</li>
	<li class="{% if pageActive=='donde-encontrarnos' %}active{% endif %}">
		<a href="/donde-encontrarnos"><i class="fa fa-circle"></i><span>Dónde encontrarnos</span></a>
	</li>
	<li class="{% if pageActive=='agenda' %}active{% endif %}">
		<a href="/agenda"><i class="fa fa-circle"></i><span>Agenda</span></a>
	</li>
	<li class="{% if pageActive=='como-nos-financiamos' %}active{% endif %}">
		<a href="/financiacion"><i class="fa fa-circle"></i><span>Cómo nos financiamos</span></a>
	</li>
	<li class="{% if pageActive=='patrocinadores' %}active{% endif %}">
		<a href="/quienes-somos#patrocinadores"><i class="fa fa-circle"></i><span>Patrocinadores</span></a>
	</li>
	<li class="{% if pageActive=='agradecimientos' %}active{% endif %}">
		<a href="/agradecimientos"><i class="fa fa-circle"></i><span>Agradecimientos</span></a>
	</li>
	<li class="{% if pageActive=='condiciones-uso' %}active{% endif %}">
		<a href="/condiciones-uso"><i class="fa fa-circle"></i><span>Condiciones de uso</span></a>
	</li>
	<li class="{% if pageActive=='politica-privacidad' %}active{% endif %}">
		<a href="/politica-privacidad"><i class="fa fa-circle"></i><span>Política de privacidad</span></a>
	</li>
</ul>
