<ul class="menuNosotros">
	<li class="{% if pageActive=='sigue-diputado' %}active{% endif %}">
		<a href="/sigue-diputado"><i class="fa fa-circle"></i><span>Sigue a tu diputado</span></a>
	</li>
	<li class="{% if pageActive=='colaboradores' %}active{% endif %}">
		<a href="/colaboradores"><i class="fa fa-circle"></i><span>Colaboradores</span></a>
	</li>
	<li class="{% if pageActive=='mas-informacion-diputados' %}active{% endif %}">
		<a href="/mas-informacion-diputados"><i class="fa fa-circle"></i><span>Diputados</span></a>
	</li>
<ul>
