#bienes, #salario{
	dl{
		display:block;
		//* display: inline-block; */
		font-size:10pt; margin:0;
		font-size: 10pt;
		margin: 0;
		//* width: 33%; */
		vertical-align: top;
		border-bottom: 1px solid #e4e4e4;
		padding: 5px 0;
		&:last-child{
			border-bottom: none;
		}
	}
	dt,dd {
		display:inline-block; padding:0; margin:0;
	}
	dt { width:25%; }
	dd { width:74%; }
}

#salario{
	th {
		width:25%;
	}
	dt { width:55%; }
	dd { width:44%; }
}