.list {
	list-style:none;
	line-height: $textLineHeight + 0.2;
	margin: 0;
	font-size: .9em;
	/*padding: 20px;*/

	&.detailed {
		
		@include box-shadow(inset 0 0 2px rgba(black,.2));
		background-color: $lightGray;
		@include border-radius(4px);
		font-size: 14px;
		
		li {
			padding: {
				top: $paragraphPadding;
				bottom: $paragraphPadding;
			}

			.fa {
				font-size: .8em;
				color: $mainRed;
				padding-right: .5em;
			}
		}
	
	}

	&.box {
		padding: 0;
		li {
			display: inline-block;
		}
	}
}

