.volverlistado.volverlistadoDesp{
	position:relative;
	top:0;
	left:0;
}

.organos{
	.subTitle2 {
		color:black;
		&.desc{
			padding: 0 10px;
		}
		&.date, &.sub {
			color:$secondGray;
		}
	}
}

.submenu.organos {
	display:block; 
	background-color:white; 
	border:1px solid #c3c3c3; 
	padding: .3em; 
	border-radius: 5px; 
	margin-top: 1em;
	text-align: center;

	.organo { 
		display:inline-block; 
		padding:.5em .5em;
		width:19.6%;

		&.active {
		    background-color: $mainRed;
		    border-radius: 5px;

		    a{ color: white; }
		}

		a { color:black; font-weight:bold; font-size:8pt; text-transform:uppercase;}
	}
}

.mod-organos{
	h4 {
		color:black; //$mainRed;
		padding:1em 0 0;
		text-transform: uppercase;
		font-size: 12pt;
		text-align: center;
		font-weight: bold;
	}
	.diputados{
		border-bottom: 1px solid $mediumGray;//$mainRed;
		&:last-child{
			border-bottom: none;
		}
		.diputado {
			/*a .fotoimg {
				width: 70px;
				height: 70px;
			}
			.partidoimg {
				top: 50px;
			}*/
		}
	}
}