// Colors
$lightGray 	: #f2f2f2;
$mainGray 	: #44474c;
$secondGray : #6a6a6a;
$mediumGray : #dadada;
$mainRed 	: #ff6956;
$activityGreen 	: #6fc354;
$activityRed 	: #f80403;
$activityBlue 	: #1795fc;
$activityYellow : #e9bb05;

// Text
$textLineHeight: 1.3em;
$paragraphPadding : $textLineHeight / 5;