{% extends 'nosotrosLayout.html' %}

{% block title %}Agenda abierta de Qué hacen los diputados{% endblock %}
{% block pageTitle %}Agenda abierta de Qué hacen los diputados{% endblock %}

{% block inside %}


<p>Aquí te informaremos de todas las actividades de Qué hacen los diputados: reuniones con diputados o miembros de partidos políticos, intervenciones en charlas y jornadas, etc., con sus correspondientes contenidos.</p>

<h3 class="strong">Próximas actividades</h3>

	<p><strong>Viernes 21 de octubre. 18.30 horas.</strong></p>
	<p>Participación en la jornada <a href="http://okioconf.es/" target="_blank">OKioConf 2014</a> organizada por OpenKratio. Mesa redonda: La ciudadanía actúa, ¿para qué abrir los datos públicos? Open Data para una ciudadanía activa.</p>
	<p>Junto a Stéphane M. Grueso, Juan Moreno Yagüe, un representante de la Dirección General de Política Digital de la Junta de Andalucía, un representante de OpenKratio y un representantes de Cuentas Claras.</p>


<h3 class="strong">Actividades pasadas</h3>

	<p><strong>Martes 19 de noviembre.</strong>
	<p>Reunión con las diputadas del PSOE <a href="/diputado/99" target="blank_">Ángeles Álvarez</a> y <a href="diputado/51" target="_blank">Carmela Silva</a>, en la que han explicado sus propuestas para que haya más transparencia en la actividad de los diputados/as. <a href="http://blog.quehacenlosdiputados.net/no-hay-suficiente-informacion-disponible-del-trabajo-de-los-diputados/" target="_blank">Resumen de la reunión</a>.</p>

	<p><strong>Viernes 25 de octubre 18:00 h</strong></p>
	<p>Mesa redonda <a href="http://innovapolitica.fundacionequo.es/index.php" target="_blank">#InnovaPolítica</a>: "De las sedes a la redes". Organizado por Green European Foundation con el apoyo de Fundación Equo.</p>
	<p>Intervención sin remuneración.</p>

	<p><strong>Lunes 3 de octubre de 2013, Madrid</strong></p>
	<p>Qué hacen los diputados, como parte del proyecto Senado Transparente, se reunió en con el senador de Entesa Carles Martín. El encuentro se <a href="http://blog.quehacenlosdiputados.net/la-participacion-ciudadana-en-politica-una-anecdota-en-la-legislacion/" target="_blank">emitió en streaming</a>.</p>

	<p><strong>Jueves 11 de julio de 2013, Madrid</strong></p>
	<p>Taller <a href="http://medialab-prado.es/article/comunicacion_crowd" target="_blank">Comunicación y Crowd. Experiencias y aprendizajes</a> para explicar la experiencia en la campaña de crowdfunding de Goteo de Qué hacen. Organizado por Medialab Prado.</p>
	<p>Intervención sin remuneración.</p>

	<p><strong>Jueves 4 de julio de 2013, Madrid</strong></p>
	<p>Jornada <a href="http://www.fundacionideas.es/node/6283" target="_blank">Parlamentos abiertos a la sociedad: participación y monitorización</a>. Organizado por Fundación IDEAS y la Fundación Friedrich Ebert Stiftung.</p>
	<p>Intervención sin remuneración.</p>

	<p><strong>Martes 2 de julio de 2013, Madrid</strong></p>
	<p><a href="http://www.fundacionurjc.es/cursos_verano/programacion2013/semana1/el-parlamento-y-la-calle.pdf" target="_blank">Cursos de verano de la URJC</a>. Panel Corrupción y penalización ciudadana. Organizado por la Asociación de Periodistas Parlamentarios y la Universidad Rey Juan Carlos.</p>
	<p>Remuneración: 155,71 euros netos (depositados en la cuenta de Qué hacen los diputados en Tríodos Bank).</p>

	<p><strong>Lunes 29 de abril de 2013, Palma de Mallorca</strong></p>
	<p><a href="http://goteo.org/blog/1818" target="_blank">LimonaData sobre Qué hacen los diputados</a>. Organizado por Goteo.org.</p>
	<p>Intervención sin remuneración.</p>

	<p><strong>Miércoles 24 de abril de 2013, Madrid</strong></p>
	<p>Reunión con el diputado de UPyD <a href="/diputado/44" target="_blank">Carlos Martínez Gorriarán</a> junto al asistente, Javier S. Somoza para presentarle las propuestas de Qué hacen los diputados para conseguir un Parlamento abierto.</p>

	<p><strong>Jueves 4 de abril de 2013, Madrid</strong></p>
	<p>Reunión con el diputado del PSOE <a href="/diputado/207" target="_blank">Juan Moscoso</a> contando con la presencia de Guzmán Garmendia para presentarle las propuestas de Qué hacen los diputados para conseguir un Parlamento abierto. <a href="http://blog.quehacenlosdiputados.net/la-sociedad-civil-ante-la-reforma-del-reglamento-del-congreso/" target="_blank">Resumen de la reunión</a>.</p>


{% endblock %}
