{% extends 'nosotrosLayout.html' %}

{% block pageTitle %}Agradecimientos{% endblock %}

{% block inside %}
	<p>La web de Qu&eacute; hacen los diputados ha sido posible por el apoyo de mucha gente que ha tenido la paciencia de guiarnos en todo este proceso y a la que queremos dar las gracias: </p>
	<ol class="list detailed mark">
		<li><i class="fa fa-circle"></i> Al <a href="http://dev.quehacenlosdiputados.net/quienes-somos" target="_blank">equipo de Qu&eacute; hacen los diputados</a>, ya que sin esa colaboraci&oacute;n desinteresada ser&iacute;a muy dif&iacute;cil llevar a cabo proyectos como este.</li>
		<li><i class="fa fa-circle"></i> A <a href="http://goteo.org" target="_blank">Goteo</a> por creer en nuestro proyecto y ser la plataforma a trav&eacute;s de la cual hemos recibido los medios que necesit&aacute;bamos para hacer esta aplicaci&oacute;n.</li>
		<li><i class="fa fa-circle"></i> A Iv&aacute;n Mej&iacute;as por desarrollar la aplicaci&oacute;n. Las horas que ha echado no est&aacute;n pagadas con dinero.</li>
		<li><i class="fa fa-circle"></i> A Ismael Viejo por dise&ntilde;ar la p&aacute;gina, el logo y pensar en la arquitectura y usabilidad de la p&aacute;gina.</li>
		<li><i class="fa fa-circle"></i>A Alberto G&oacute;mez Chac&oacute;n por desarrollar el mapa de circunscripciones</li>
		<li><i class="fa fa-circle"></i> A los <a href="http://dev.quehacenlosdiputados.net/quienes-somos#patrocinadores" target="_blank">patrocinadores</a> por creer en el proyecto y ayudar a que se haya hecho realidad.</li>
		<li><i class="fa fa-circle"></i> A C&eacute;sar Vallejo por grabar el <a href="http://www.youtube.com/watch?v=jZ-zwSB1euk" target="_blank">v&iacute;deo de la campa&ntilde;a</a> y hacer la postproducci&oacute;n. A Nicol&aacute;s Medina por hacer la grabaci&oacute;n en Granada.</li>
		<li><i class="fa fa-circle"></i> Al equipo de <a href="http://civio.es" target="_blank">Fundaci&oacute;n Ciudadana Civio</a> por su apoyo y consejos (David Cabo, Eva Belmonte y Javier de Vega), as&iacute; como a Vicky Anderica, de <a href="http://www.access-info.org/" target="_blank">Access Info Europe</a>.</li>
		<li><i class="fa fa-circle"></i> A Miguel Gonzalo. No era tarea f&aacute;cil adentrarse en la web del Congreso y desentra&ntilde;ar toda la informaci&oacute;n all&iacute; contenida, pero Miguel nunca se cans&oacute; de explicarnos los entresijos de su funcionamiento y de responder a nuestros cientos de dudas.</li>
		<li><i class="fa fa-circle"></i> A otros miembros de Qu&eacute; Hacen los Diputados que aunque actualmente no colaboren con nosotros, nos han ayudado a ser qui&eacute;n somos y siempre est&aacute;n dispuestos a echarnos una mano cuando hace falta: Jeni, Ra&uacute;l, Samu...</li>
		<li><i class="fa fa-circle"></i> A todos los voluntarios que han colaborado con nosotros desde que comenz&oacute; a gestarse Qu&eacute; hacen los diputados monitorizando a los diputados de su provincia, ayud&aacute;ndonos a comprender la informaci&oacute;n parlamentaria o envi&aacute;ndonos noticias de inter&eacute;s: Ana, David, Elena, Ignacio, Jara, Javier, Jos&eacute;, Laura, Nayra, Manu, Manolo, Mar&iacute;a, Mar&iacute;a Jos&eacute;, Salvador, Xavier y tantos otros.</li>
		<li><i class="fa fa-circle"></i> A los diputados que nos han ayudado a reducir la distancia que nos separa respondiendo a nuestras preguntas, facilit&aacute;ndonos informaci&oacute;n y reuni&eacute;ndose con nosotros.</li>
		<li><i class="fa fa-circle"></i> A los ciudadanos que participaron en la <a href="http://quehacenlosdiputados.net/adopta-a-un-diputado-y-vuelca-su-patrimonio-a-formato-reutilizable/" target="_blank">campa&ntilde;a #AdoptaUnDiputado</a>. Muchos de los datos de esta web son gracias a vosotros.</li>
		<li><i class="fa fa-circle"></i> A <a href="http://datanpress.com/es" target="_blank">Data&#39;n&#39;press</a> por colaborar durante el arranque de la aplicaci&oacute;n.</li>
	</ol>
	<div class="columns large-12 mark">
		<p>Muchas gracias a los 236 <a href="http://goteo.org/project/que-hacen-los-diputados/supporters" target="_blank">donantes de Goteo</a>:</p>

		<ul class="list donantes">
			<li>1300gr</li>
			<li>Aalosada </li>
			<li>Acistero </li>
			<li>Aesedepece </li>
			<li>Agomchavi </li>
			<li>Aguado Crespo </li>
			<li>Ahervas </li>
			<li>Ainara Oyaga </li>
			<li>Alcainml </li>
			<li>Alejandro Mora Eugenio </li>
			<li>Aleximalenkov </li>
			<li>Alorza </li>
			<li>Álvaro Santisteban </li>
			<li>Alvicente </li>
			<li>Amartin4 </li>
			<li>Amartinj </li>
			<li>Amoya62 </li>
			<li>Anmasai </li>
			<li>Antoni Gutiérrez Rubí</li>
			<li>Antoni Manchado </li>
			<li>Antonio Cajar </li>
			<li>Antonio Cajar </li>
			<li>Antonio García </li>
			<li>Antonio Mateo Pérez </li>
			<li>Arantxa Sánchez </li>
			<li>Arsisig </li>
			<li>Arual Skizoo </li>
			<li>Be Agua </li>
			<li>Bea González Alonso </li>
			<li>Biotess </li>
			<li>Bocadepez </li>
			<li>Boerus Legitimous </li>
			<li>Bonefone </li>
			<li>Borrell Pepe </li>
			<li>Bretxa </li>
			<li>Bull </li>
			<li>Caamanojm </li>
			<li>Cafeína </li>
			<li>Canvaas </li>
			<li>Cargarma </li>
			<li>Carles Navarro </li>
			<li>Carlos Orero Canet </li>
			<li>Carloscdp </li>
			<li>Carmencaff </li>
			<li>Cascanuit </li>
			<li>Ceferina </li>
			<li>Chantal Giner </li>
			<li>Chemari </li>
			<li>Chinesse </li>
			<li>Chioxyz </li>
			<li>Chusnorris </li>
			<li>Cmaranon </li>
			<li>Concha Catalán </li>
			<li>Corsojc </li>
			<li>Cris Noguera </li>
			<li>Crispamares </li>
			<li>Cuamarth </li>
			<li>D. Novella </li>
			<li>Darkkmatxin </li>
			<li>Data'n'press </li>
			<li>Davamar </li>
			<li>David Cabo </li>
			<li>David Marzo </li>
			<li>David R. Jordán </li>
			<li>Davidps </li>
			<li>Davidr </li>
			<li>Dezeta </li>
			<li>Di Valenzuela </li>
			<li>Diego HA </li>
			<li>Dm Recamal </li>
			<li>Don Jose </li>
			<li>Dperara </li>
			<li>Duxtinto </li>
			<li>E. Manchado </li>
			<li>E. Martínez 2000 </li>
			<li>El Salva 14 </li>
			<li>Elctrodnd21 </li>
			<li>Eliseu </li>
			<li>Emaranon01 </li>
			<li>Emi Ezquerra </li>
			<li>Enriguti </li>
			<li>Erbaka83 </li>
			<li>Esther Álvarez </li>
			<li>Eva Ortiz </li>
			<li>Fabio Gándara </li>
			<li>Fandreu </li>
			<li>Fernando Elipe </li>
			<li>Fidel </li>
			<li>Fontanon </li>
			<li>Francis Ducreux </li>
			<li>Francisco Polo</li>
			<li>Freseco </li>
			<li>Froman </li>
			<li>Fuska </li>
			<li>Garazi Olaziregi </li>
			<li>Germi91 </li>
			<li>Giro ala izq </li>
			<li>Goyo57 </li>
			<li>Guille Quero </li>
			<li>Guzmán </li>
			<li>Hamoid </li>
			<li>hdt </li>
			<li>Héctor Navarro Martín </li>
			<li>Helen Left </li>
			<li>Houdret </li>
			<li>Icarne </li>
			<li>Ictlogist </li>
			<li>Ipisoan </li>
			<li>Iraveralospepis </li>
			<li>Ismaller </li>
			<li>Iván Domingo </li>
			<li>Ivisdrek </li>
			<li>J. Elosua </li>
			<li>Jaimef </li>
			<li>Jalecito </li>
			<li>Jatovich </li>
			<li>Javi Creus </li>
			<li>Javier 75in </li>
			<li>Javier de Vega </li>
			<li>Javier Marmur </li>
			<li>Jerfe </li>
			<li>Jesús osm </li>
			<li>Jesús Suárez Belloch </li>
			<li>JFelipe </li>
			<li>Jfm </li>
			<li>Jljc84 </li>
			<li>Jmbolivar </li>
			<li>Jmsoria18 </li>
			<li>Jorge H. Barriuso </li>
			<li>Jorgemc </li>
			<li>Josito Sala </li>
			<li>Karlos Aguiar </li>
			<li>Klin </li>
			<li>Lau in London </li>
			<li>Laura Fernández </li>
			<li>Lave76 </li>
			<li>Leacon100 </li>
			<li>Lenahesb </li>
			<li>Linda Snopes </li>
			<li>Lironcareto </li>
			<li>Littlesister </li>
			<li>Llorenç Muntaner </li>
			<li>Lmental </li>
			<li>Luigi </li>
			<li>Luisete </li>
			<li>Luisli </li>
			<li>Luther Blissett </li>
			<li>M Calderon </li>
			<li>Madrobau </li>
			<li>Mammam </li>
			<li>Mangel </li>
			<li>Mar Cabra </li>
			<li>Marco Valdiano </li>
			<li>María Jesúsd1 </li>
			<li>María José Valls 14 </li>
			<li>Mariolh </li>
			<li>Marta 206 </li>
			<li>Matusaln </li>
			<li>Mcornella </li>
			<li>Mert76 </li>
			<li>Mewell </li>
			<li>Miguel Gonzalo </li>
			<li>Miguel Rosselló </li>
			<li>Mjtia </li>
			<li>Modesto Carceles </li>
			<li>Moran Rubio </li>
			<li>Mra757 </li>
			<li>Muruenya </li>
			<li>Mydee </li>
			<li>Nicolas Medina Marañón </li>
			<li>Noemí Ramírez </li>
			<li>Nosupani </li>
			<li>Ocsoaz </li>
			<li>Olivier </li>
			<li>Oriol Pascual </li>
			<li>Pablo fhx </li>
			<li>Pablo Herreros </li>
			<li>Pacocorreo </li>
			<li>Pacosd </li>
			<li>Pagoga23 </li>
			<li>Pako Moralo </li>
			<li>Paloma CI </li>
			<li>Paloma CI </li>
			<li>Pdcarrillo </li>
			<li>Pedrocn </li>
			<li>Pellitero </li>
			<li>Pilar Abuin </li>
			<li>Planetafryo </li>
			<li>Puppetmast3r </li>
			<li>Raquel Quiñones </li>
			<li>Rassalsan </li>
			<li>Raúl Maro </li>
			<li>Raúl Sagredo </li>
			<li>Ricardo CoSan </li>
			<li>Richard Wayne </li>
			<li>Rmhdev </li>
			<li>Robertiano </li>
			<li>Rocío ardt </li>
			<li>Rocío Campos </li>
			<li>Rodrigo Martínez C </li>
			<li>Rolando López Heras </li>
			<li>Rsaenz </li>
			<li>Rubén Titos Gil </li>
			<li>Sagubia </li>
			<li>Salva Cañamás </li>
			<li>Salvatres </li>
			<li>SarayB </li>
			<li>Sarudez </li>
			<li>Sayalero </li>
			<li>Sebasinyo </li>
			<li>Sergioad </li>
			<li>Sgrueso </li>
			<li>Sinkerval </li>
			<li>Sofía Hernanz </li>
			<li>Suzanne1986 </li>
			<li>T. Indignadx </li>
			<li>Tafagmac </li>
			<li>Tbanobre </li>
			<li>Tevira </li>
			<li>Tisagrerenc </li>
			<li>Tomas10 </li>
			<li>Top tnc </li>
			<li>Tortugon </li>
			<li>Tsabriego </li>
			<li>Utah </li>
			<li>V Fernández Portero </li>
			<li>Vblasco </li>
			<li>Verbigracias </li>
			<li>Vic20 </li>
			<li>Vickybol </li>
			<li>Víctor Minguillo </li>
			<li>Viejoai </li>
			<li>Vjpascual </li>
			<li>X-net </li>
			<li>Xose Cuns </li>
			<li>Yorch Lozano 5</li>
		</ul>
	</div>

{% endblock %}
