{% extends 'ayudaLayout.html' %}
{% block title %}Colaboradores{% endblock %}
{% block pageTitle %}Colaboradores{% endblock %}

{% block inside %}
        <p>Nuestro mail: <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a></p>
        <p><strong>&iquest;Quieres formar parte del proyecto Qu&eacute; hacen los diputados?</strong></p>
        
        <h3 class="strong">- Sigue a un diputado/a y comparte la informaci&oacute;n</h3>
            <p>Si est&aacute;s interesado/a en saber qu&eacute; hace alg&uacute;n diputado/a de tu circunscripci&oacute;n (o de otra), puedes leer lo que hace y dice en el Congreso, en los medios de comunicaci&oacute;n, etc. Recientemente publicamos en el blog una <a href="http://quehacenlosdiputados.net/monitorizar-a-los-diputados-del-congreso-en-cuatro-pasos/" target="_blank">gu&iacute;a de 4 pasos de c&oacute;mo encontrar la informaci&oacute;n referente a cada diputado/a</a>. Si compartes la informaci&oacute;n que m&aacute;s te llame la atenci&oacute;n con nosotros te podemos ayudar a difundirla a trav&eacute;s del blog, Twitter y Facebook. Escr&iacute;benos a <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a></p>

            <h3 class="strong">- Sigue el Bolet&iacute;n Oficial de las Cortes Generales</h3>
            <p>Casi a diario se publica en la web del Congreso el <a href="http://www.congreso.es/portal/page/portal/Congreso/Congreso/Publicaciones/PubliOfiUltDias" target="_blank">Bolet&iacute;n Oficial de las Cortes Generales</a> con mucha informaci&oacute;n en forma de respuestas a los diputados, registro de preguntas, de iniciativas legislativas y no legislativas,etc. Tal vez nos puedas ayudar a rescatar lo m&aacute;s destacado, ya que no podemos seguirlo como nos gustar&iacute;a. Lo difundir&iacute;amos a trav&eacute;s de Twitter y Facebook o del blog. Escr&iacute;benos a <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a>.</p>
        
            <h3 class="strong">- Si tienes conocimientos en Derecho</h3>
            <p>Muchas veces los proyectos legislativos no son comprensibles para la ciudadan&iacute;a en general, incluidos los miembros de Qu&eacute; hacen los diputados. Nos puedes ayudar a resumir y a hacer comprensibles los proyectos y proposiciones de ley, los reales decretos-leyes, las proposiciones no de ley, etc. Tambi&eacute;n solemos tener dudas respecto a las declaraciones de bienes de los diputados. Con tu ayuda podr&iacute;amos aclararlo en el blog, Twitter y Facebook. Escr&iacute;benos a <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a>.</p>

                <h3 class="strong">- Si tienes conocimientos fiscales</h3>
            <p>Tenemos dudas relacionadas con las declaraciones de bienes en el aspecto fiscal, con las n&oacute;minas de los diputados (especialmente con las retenciones de IRPF). Con tu ayuda podr&iacute;amos aclararlo en el blog y en Twitter. Escr&iacute;benos a <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a>.</p>

            <h3 class="strong">- Publicar la informaci&oacute;n parlamentaria en la 15MPedia, Wikipedia...</h3>
            <p>En nuestro blog explicamos c&oacute;mo funciona el Congreso y la funci&oacute;n legislativa en general. Nos hacen falta manos para volcar ese conocimiento en las enciclopedias online que llegan a much&iacute;sima gente y que contribuyen a universalizarlo m&aacute;s, como Wikipedia, Viquip&egrave;dia o la 15MPedia, entre otras. Todos nuestros contenidos son Creative Commons y se pueden compartir en otras p&aacute;ginas. Escr&iacute;benos a <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a>.</p>

            <h3 class="strong" id="sidiputado">- Si eres diputado o diputada</h3>
            <p>La informaci&oacute;n que hemos recopilado de cada parlamentario es informaci&oacute;n p&uacute;blica encontrada en Internet. Si hay informaci&oacute;n incorrecta o faltan datos por completar, puedes escribirnos a <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a> para que rectifiquemos o a&ntilde;adamos lo que creas oportuno.</p>

{% endblock %}

