{% extends 'layout.html' %}

{% block title %}Comisiones{% endblock %}

{% block content %}
	<div class="row">
                <div class="large-12 columns list">
                        <!--#include virtual="/modules/organos/list?active=C" -->
                </div>
        </div>

	<div class="row container organos">
		<div class="large-12 columns">
			<span class="encabezadoMod">Comisiones del Congreso</span>
			<span class="subTitle2 desc">Son los órganos básicos de trabajo de la Cámara y tienen un número de diputados proporcional a cada grupo parlamentario. Dictaminan textos legislativos, celebran sesiones informativas, tramitan preguntas orales y mociones, pueden designar ponencias para elaborar informes que son la base del trabajo de la Comisión.</span>
		</div>
			<div class="containerComisiones mark" style="min-height:400px;">
				<table style='display:none'>
				<tbody>
					<tr>
						<th><a href="#nombre">Nombre</a></th>
						<th><a href="#numDipus">Nº diputados</a></th>
						<th><a href="#fechaConst">Fecha constitución</a></th>
						<th><a href="#legislativa">Legislativa</a></th>
						<th><a href="#permanente">Permanente</a></th>
						<th><a href="#mixta">Mixta</a></th>
					</tr>

					{#{% spaceless %}
					{% set legisOrd = comisiones|groupBy('legis') %}
					{% set comLegis=legisOrd[1]%}
					{% set comNoLegis=legisOrd[0]%}
					{% endspaceless%}#}
					
					{% for com in comisiones %}
					{%spaceless%}
						{%if com.legis==1%}{%set legis="si"%}{%else%}{%set legis="no"%}{%endif%}
						{%if com.perm==1%}{%set perm="si"%}{%else%}{%set perm="no"%}{%endif%}
						{%if com.mixta==1%}{%set mixta="si"%}{%else%}{%set mixta="no"%}{%endif%}
					{%endspaceless%}
					<tr>
						<td><a href="/organo/{{com.normalized.url}}">{{ com.nombre }}</a></td>
						<td></td>
						<td>{{com.constituida}}</td>
						<td>{{legis}}</td>
						<td>{{perm}}</td>
						<td>{{mixta}}</td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>	
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{% parent %}
	<script src="/javascripts/vendors/mustache.js"></script>
	<script src="/javascripts/comisiones.js"></script>	
{% endblock %}
