{% extends 'layout.html' %}

{% block title %}Diputado {{diputado.nombre}} {{diputado.apellidos}} {% endblock %}


{% block content %}
	<div class="row">
		<div class="columns large-2 large-offset-10 sharer mark">
			<span>Compartir</span>
			<a href="javascript:void(window.open('https://plus.google.com/share?ur\l='+encodeURIComponent(location), 'Compartir diputado {{diputado.nombre}} {{diputado.apellidos}}','width=600,height=460,menubar=no,location=no,status=no'));"><i class="fa fa-google-plus-square"></i></a>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{baseURL}}/{{diputado.normalized.url}}" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/share?url={{baseURL}}/{{diputado.normalized.url}}"><i class="fa fa-twitter-square"></i></a>
		</div>
	</div>
	<div class="row container diputado">
		<div id="infoDiputado" class="infoDiputado large-12 small-12 columns">
			<a class="prevDip large-1 small-5 columns" href="/diputado/{{ diputado.id - 1 }}">Diputado anterior</a>
			<div class="ficha large-5 small-12 columns">
				<span>
					<img class="carnet" src="{{baseURL}}/img/imagenesDipus/{{diputado.id}}.jpg">
				</span>
				<img class="partido" src="{{baseURL}}/img/logosPartidos/{{diputado.partido | url_decode}}.png">
				<span class="nombre">{{diputado.nombre}}<br/>{{diputado.apellidos}}</span>
				<span class="circunscripcion">Diputado por <a href="/circunscripcion/{{ diputado.circunscripcion | slugify }}">{{diputado.circunscripcion}}</a></span>
				<span class="grupo"><a href="/grupo-parlamentario/{{diputado.grupo}}">Grupo parlamentario {{diputado.grupo}}</a></span>
			</div>
			<ul class="details large-5 small-5 columns">			
				<li><span>{{diputado.fecha_nac | fecha}} en {{diputado.lugar_nac}}</span></li>
				{% if diputado.legislaturas %}
				<li>
					{% for legislatura in diputado.legislaturas %}
						<span>{{legislatura}} Legislatura</span>
					{% endfor %}
				</li>
				{% endif %}
				<li>
					{% for contact in diputado.contacto %}
						{% if contact.tipo == "email" %}
							<a href="mailto:{{contact.url | url_decode}}">
								<i class="fa fa-envelope"></i>
							</a>
								<!--span class="contact {{contact.tipo}}">{{contact.url | url_decode}}</span-->
						{% else %}
							<a href="{{contact.url | url_decode}}" target="_blank">							
							{% if contact.tipo == "web" %}
							<i class="fa fa-globe"></i>
							{% elseif contact.tipo == "twitter" %}
							<i class="fa fa-twitter-square"></i>
							{% elseif contact.tipo == "facebook" %}
							<i class="fa fa-facebook-square"></i>
							{% elseif contact.tipo == "linkedin" %}
							<i class="fa fa-linkedin"></i>
							{% elseif contact.tipo == "wikipedia" %}
							<i class="fa fa-book"></i>
							{% endif %}
							</a>
						{% endif %}
						
					{% endfor %}
				</li>
				<li><span>Alta: {{diputado.fecha_alta | fecha}}{% if diputado.fecha_baja%} - Baja: {{diputado.fecha_baja | fecha}}{% endif %} </span></li>
				<li><span>Salario estimado: {{diputado.sueldo.bruto_mes|euros}}</span></li>
			</ul>
			<a class="nextDip large-1 small-5 columns" href="/diputado/{{ diputado.id + 1 }}">Diputado siguiente</a>
		</div>

		<div id="extendedInfoDiputado" class="extendedInfoDiputado large-12 small-12 columns">
			<ul id="tabs" class="tabs">
				<li id="actividad" class="{% if subPageActive=='actividad' %}active{% endif %}"><a href="/diputado/{{diputado.normalized.url}}/actividad">Actividad parlamentaria</a></li>
				<li id="cargoscongreso" class="{% if subPageActive=='cargos-congreso' %}active{% endif %}"><a href=" /diputado/{{diputado.normalized.url}}/cargos-congreso">Cargos en el Congreso</a></li>
				<li id="vidalaboral" class="{% if subPageActive=='vida-laboral' %}active{% endif %}"><a href=" /diputado/{{diputado.normalized.url}}/vida-laboral">Trayectoria</a></li>
				<li id="declaraciondebienes" class="{% if subPageActive=='declaracion-de-bienes' %}active{% endif %}"><a href="/diputado/{{diputado.normalized.url}}/declaracion-de-bienes">Declaración de bienes</a></li>	
				<li id="salario" class="{% if subPageActive=='salario' %}active{% endif %}"><a href="/diputado/{{diputado.normalized.url}}/salario">Salario</a></li>
			</ul>
			{% if subPageActive=='actividad' %}
				{% set canonical = "actividad"  %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/actividad" -->
			{% elseif subPageActive=='cargos-congreso' %}
				{% set canonical = "cargos-congreso"  %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/cargos-congreso" -->
			{% elseif subPageActive=='vida-laboral' %}
				{% set canonical = "vida-laboral"  %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/vida-laboral" -->
			{% elseif subPageActive=='declaracion-de-bienes' %}
				{% set canonical = "bienes"  %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/bienes" -->
			{% elseif subPageActive=='salario' %}
				{% set canonical = "salario"  %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/salario" -->
			{% endif %}
		</div>
	</div>
	<div class="row container diputado">
		<div class="related large-12 columns mark">
			<!--#include virtual="/modules/diputado/{{diputado.id}}/tags" -->
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{% parent %}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}

{% block extraHead %}
	<link rel="canonical" href="{{baseURL}}/{{diputado.normalized.url}}/{{canonical}}" />
{% endblock %}

