{% extends 'layout.html' %}

{% block title %}
{%spaceless%}
{%if diputado.sexo == 'H'%}
	{% set sex='o'%}
{%else%}
	{% set sex='a'%}
{%endif%}
{%endspaceless%}
{%if diputado.activo==0%}
	Exdiputad{{sex}} {{diputado.nombre}} {{diputado.apellidos}}
{%else%}
	Diputad{{sex}} {{diputado.nombre}} {{diputado.apellidos}}
{%endif%}
{%endblock%}

{% block content %}
	{%spaceless%}
	{%if diputado.sexo == 'H'%}
		{% set sex='o'%}
	{%else%}
		{% set sex='a'%}
	{%endif%}
	{%endspaceless%}

	<div class="row">
		<div class="large-12 small-6 columns"> 
			<span class='volverlistado' style="top:10px !important;">
				<i class='fa fa-chevron-left'></i>
				<a href='/diputados'>Ir al listado de diputados</a>
			</span>
		</div>
		<div class="columns large-2 large-offset-10 small-6 small-offset-6 sharer mark">
			<span>Compartir</span>
			<a href="javascript:void(window.open('https://plus.google.com/share?ur\l='+encodeURIComponent(location), 'Compartir diputado {{diputado.nombre}} {{diputado.apellidos}}','width=600,height=460,menubar=no,location=no,status=no'));"><i class="fa fa-google-plus-square"></i></a>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{baseURL}}{{originalURL}}" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/share?url={{baseURL}}{{originalURL}}"><i class="fa fa-twitter-square"></i></a>
		</div>
	</div>
	<div class="row container diputado" style="margin-top:0;">
		<div id="infoDiputado" class="infoDiputado large-12 small-12 columns">
			<div class="large-1 small-1 columns">
				<a id="prev" href="/diputado/{{ diputado.id - 1 }}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="large-10 small-10 columns border-left-right mark">
				<div class="ficha large-3 small-6 columns">
					<span  class="foto">
						<img class="carnet" src="{{baseURL}}/img/imagenesDipus/{{diputado.id}}.jpg">
					</span>
					<img class="partido" src="{{baseURL}}/img/logosPartidos/{{diputado.partido | url_decode}}.png">
				</div>
				<div class="ficha large-4 small-6 columns mark">
					{%if diputado.activo==0%}
					<span class="nombre" style="color:red">{{diputado.nombre}}<br/>{{diputado.apellidos}}</span>
					<span class="circunscripcion"><span style="color: red !important; font-weight:bold; display:inline-block;margin:0">Exdiputad{{sex}}</span> por <a href="/circunscripcion/{{ diputado.circunscripcion | slugify }}">{{diputado.circunscripcion}}</a></span>
					{%else%}
					<span class="nombre">{{diputado.nombre}}<br/>{{diputado.apellidos}}</span>
					<span class="circunscripcion">Diputad{{sex}} por <a href="/circunscripcion/{{ diputado.circunscripcion | slugify }}">{{diputado.circunscripcion}}</a></span>
					{%endif%}
					<span class="grupo"><a href="/grupo-parlamentario/{{diputado.grupo}}">Grupo parlamentario {{diputado.grupo}}</a></span>
				</div>
				<div class="large-5 columns mark">
					<ul class="details">
						<li><span>Fecha de nacimiento: {{diputado.fecha_nac | fecha}} ({{diputado.fecha_nac | edad}} años)</span></li>
						<li><span>Lugar de nacimiento: {%if diputado.lugar_nac%}{{diputado.lugar_nac}}{%else%}Desconocido{%endif%}</span></li>
						<li><span>Alta como diputad{{sex}}: {{diputado.fecha_alta | fecha}}</span></li>
						{% if diputado.fecha_baja%}<li><span style='color:red'>Baja como diputad{{sex}}: {{diputado.fecha_baja | fecha}}</span></li>
						<li><span class="subst">Sustituid{{sex}} por: <a href="/diputado/{{diputado.diputado_sust.normalized.url}}">{{diputado.diputado_sust.nombre}}, {{diputado.diputado_sust.apellidos}}</a></span></li>{%endif%}
						{% if diputado.id_sustituido %}	
						<li><span class="subst">Sustituye a: <a href="/diputado/{{diputado.diputado_sust.normalized.url}}">{{diputado.diputado_sust.nombre}}, {{diputado.diputado_sust.apellidos}}</a></span></li>
						{% endif %}
						{% if diputado.legislaturas %}
						{%spaceless%}
						{%set n=1%}
						{%set numlegis= diputado.legislaturas | length%}
						{%for legis in diputado.legislaturas%}
							{%if n==1%}{%set legistxt=legis%}
							{%elseif n==numlegis%}{% set legistxt = legistxt+" y "+legis%}
							{%else%}{%set legistxt = legistxt+", "+legis%}
							{%endif%}
							{%set n +=1%}
						{%endfor%}
						{%endspaceless%}
						<li><span>Anteriores legislaturas: {{legistxt}}</span></li>
						{%else%}	
						<li><span>Anteriores legislaturas: Ninguna</span></li>
						{% endif %}
						<li class='network'>
							{%spaceless%}
							{# Imprimimos primero los correos #}
							{% set concorreo=0%}
							{%for contact in diputado.contacto%}
								{% if contact.tipo == "email" %}
									{% set concorreo=1%}
									<a href="mailto:{{contact.url | url_decode}}" title="{{contact.url | url_decode}}">
										<i class="fa fa-envelope"></i>
									</a>
								{%endif%}
							{%endfor%}
							{%if concorreo==0%}
								<span style="display:inline-block;"><i title="Este diputado no ofrece correo electrónico" alt="Este diputado no ofrece correo electrónico" style="color:grey !important;font-size:1.3em" class="fa fa-envelope"></i></span>
								<!--<a style="pointer-events:none" title="sin correo electrónico" alt="sin correo electrónico"><i style="color:grey !important;" class="fa fa-envelope"></i></a>-->
							{%endif%}
							{%endspaceless%}
							{% for contact in diputado.contacto %}
								{#{% if contact.tipo == "email" %}
									<a href="mailto:{{contact.url | url_decode}}" title="{{contact.url | url_decode}}">
										<i class="fa fa-envelope"></i>
									</a>#}
								{% if contact.tipo != "email" %}
									<a href="{{contact.url | url_decode}}" title="{{contact.url | url_decode}}" target="_blank">							
									{% if contact.tipo == "web" %}
									<i class="fa fa-globe"></i>
									{% elseif contact.tipo == "twitter" %}
									<i class="fa fa-twitter-square"></i>
									{% elseif contact.tipo == "facebook" %}
									<i class="fa fa-facebook-square"></i>
									{% elseif contact.tipo == "linkedin" %}
									<i class="fa fa-linkedin"></i>
									{% elseif contact.tipo == "wikipedia" %}
									<i class="fa fa-book"></i>
									{% endif %}
									</a>
								{% endif %}
								
							{% endfor %}
						</li>
					</ul>
				</div>
			</div>
			<div class="large-1 small-1 columns">
				<a id="next" href="/diputado/{{ diputado.id + 1 }}"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>

		<div id="extendedInfoDiputado" class="extendedInfoDiputado large-12 small-12 columns">
			<ul id="tabs" class="tabs">
				<li id="actividad" class="{% if subPageActive=='actividad' %}active{% endif %}"><a href="/diputado/{{diputado.normalized.url}}/actividad">Actividad parlamentaria</a></li>
				<li id="cargoscongreso" class="{% if subPageActive=='cargos-congreso' %}active{% endif %}"><a href=" /diputado/{{diputado.normalized.url}}/cargos-congreso">Cargos en el Congreso</a></li>
				<li id="vidalaboral" class="{% if subPageActive=='vida-laboral' %}active{% endif %}"><a href=" /diputado/{{diputado.normalized.url}}/vida-laboral">Trayectoria</a></li>
				<li id="declaraciondebienes" class="{% if subPageActive=='declaracion-de-bienes' %}active{% endif %}"><a href="/diputado/{{diputado.normalized.url}}/declaracion-de-bienes">Declaración de bienes</a></li>	
				<li id="salario" class="{% if subPageActive=='salario' %}active{% endif %}"><a href="/diputado/{{diputado.normalized.url}}/salario">Salario</a></li>
			</ul>
			{% if subPageActive=='actividad' %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/actividad" -->
			{% elseif subPageActive=='cargos-congreso' %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/cargos-congreso" -->
			{% elseif subPageActive=='vida-laboral' %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/vida-laboral" -->
			{% elseif subPageActive=='declaracion-de-bienes' %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/bienes" -->
			{% elseif subPageActive=='salario' %}
				<!--#include virtual="/modules/diputado/{{diputado.id}}/salario" -->
			{% endif %}
		</div>
	</div>
	<div class="row container diputado articulos_div">
		<div class="related large-12 columns mark">
			<!--#include virtual="/modules/diputado/{{diputado.id}}/tags" -->
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{% parent %}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<script type="text/javascript" src="/javascripts/diputado.js"></script>
{% endblock %}

{% block extraHead %}
	<link rel="canonical" href="{{baseURL}}{{originalURL}}" />
{% endblock %}

{% set og_title =  "Diputado "+diputado.nombre+", "+diputado.apellidos %}
{% set og_image =  "/img/imagenesDipus/"+diputado.id %}
{% set og_desc =  "Diputado "+diputado.nombre+", "+diputado.apellidos %}
{% block ogMetas %}
{% parent %}
{% endblock %}

