{% extends 'nosotrosLayout.html' %}

{% block pageTitle %}Dónde encontrarnos{% endblock %}

{% block inside %}
	<p>Si tienes alguna pregunta, comentario o quieres unirte a nuestro parlamento de personas, escr&iacute;benos a</p>
	<p style='text-align:center'><strong>quehacenlosdiputados@gmail.com</strong></p>
	<p>También nos puedes seguir a través de otros canales:
	<p><ul>
	<li> La informaci&oacute;n parlamentaria al instante en <a href="https://twitter.com/que_hacen" target="_blank">Twitter de </a><a href="https://twitter.com/que_hacen" target="_blank">@que_hacen</a>.</li>
	<li> Si prefieres <a href="https://www.facebook.com/qhacenlosdiputados" target="_blank">Facebook</a>, dale al Me gusta.</li>
	<li> Mira nuestros videotutoriales en el canal de <a href="http://www.youtube.com/QueHacenLosDiputados" target="_blank">YouTube</a> de Qu&eacute; hacen.</li>
	<li> De vez en cuando recopilamos en <a href="http://storify.com/que_hacen" target="_blank">Storify</a> los tuits sobre temas de actualidad.</li>
	</ul>&nbsp;</p>
{% endblock %}
