{% extends 'nosotrosLayout.html' %}

{% block pageTitle %}Cómo nos financiamos{% endblock %}

{% block inside %}
	<p>Qu&eacute; hacen los diputados es una asociaci&oacute;n formada por tres miembros fijos y otros colaboradores que nos ayudan espor&aacute;dicamente. Actualmente no tenemos unos ingresos fijos y no cobramos por la labor que desempe&ntilde;amos.</p>
	
	<h3 class="strong">Gastos fijos</h3>
	
	<p>Tenemos unos gastos fijos, fundamentalmente el servidor en el que alojamos la p&aacute;gina web. Contamos con el Dedicated Server EcoServer en server4you.net, cuya alta ha costado 117,81 euros y&nbsp; 22 euros al mes.</p>
	
	<h3 class="strong">Crowdfunding</h3>
	
	<p>En mayo de 2013, con el objetivo de ofrecer a los ciudadanos una aplicaci&oacute;n web mediante la que fiscalizar el trabajo de los diputados, iniciamos una campa&ntilde;a de microfinanciaci&oacute;n colectiva en Goteo.org.</p>
	
	<p>Conseguimos recaudar 6.545&euro; gracias a la colaboraci&oacute;n monetaria de 234 personas, que tras descontar los gastos de comisi&oacute;n (pregunta 23) se han quedado en 5874,99 euros.</p>
	
	<h3 class="strong">Persona becada</h3>
	
	<p>Durante 10 meses en 2013 un periodista becado por Antoni Guti&eacute;rrez Rub&iacute; a trav&eacute;s de la Fundaci&oacute;n Ciudadana Civio, Eduard Mart&iacute;n Borreg&oacute;n, estuvo en el proyecto. Hizo tareas de miner&iacute;a de datos, redacci&oacute;n y gesti&oacute;n de redes sociales. La beca fue de un total de 3.000 euros.</p>
	
	<h3 class="strong">Charlas y conferencias</h3>
	
	<p>Desde nuestro nacimiento hemos participado en charlas y conferencias diversas de forma gratuita. En junio de 2013 ofrecimos una charla en los cursos de verano de la URJC por la que recibimos 158 euros netos.</p>
	
	<h3 class="strong">Cuenta bancaria</h3>
	
	<p>Para poder gestionar el dinero que recibimos y las facturas hemos abierto una cuenta a nombre de la Asociaci&oacute;n Qu&eacute; hacen en Tr&iacute;odos Bank.</p>
{% endblock %}