{% extends 'layout.html' %}

{% block content %}
<!--div class="twitterContent">TwitterContent</div-->
<div class="row">
	<div class="large-7 columns">
		<div class="latestPost large-12 columns">
			<!--#include virtual="/modules/portada/ultimos-posts/4" -->
		</div>
		<div class="iniciativas latest large-12 columns container">
			<!--#include virtual="/modules/portada/ultimas-iniciativas/2" -->
		</div>	
	</div>
	<div class="large-5 columns">
		<!--div class="participa container">
			Participa
		</div-->
		<div class="actividad container">
			<div class="header">Actividad en el congreso</div>
			<dl class="tabs" data-tab>
			  <dd class="active"><a href="#masiniciativas">Diputados con más iniciativas</a></dd>
			  <dd><a href="#menosiniciativas">Diputados con menos iniciativas</a></dd>
			</dl>
			<div class="tabs-content">
			  <div class="content active" id="masiniciativas">
			    <!--#include virtual="/modules/portada/actividad/mas-iniciativas/10" -->
			  </div>
			  <div class="content" id="menosiniciativas">
			    <!--#include virtual="/modules/portada/actividad/menos-iniciativas/10" -->
			  </div>
			</div>
		</div>
		<!--div class="votaciones container">
			<!--#include virtual="/modules/portada/ultimas-votaciones/" -->
		<!--/div-->

	</div>
</div>
{% endblock %}
{% block scripts %}
	{%parent%}
	<script src="/javascripts/vendors/foundation.min.js"></script>
	<script>
	  $(document).foundation();
	</script>
{% endblock %}