{% extends 'layout.html' %}
{% block title %}
Iniciativas
{%endblock%}

{% block styles %}
<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
{%endblock%}


{% block content %}
	<div class="row container">
		<div class="diputadosTotal">
			<h2 id="arriba">Iniciativas parlamentarias</h2>
		</div>
                <div class="large-12 columns">
		<div class="large-9 small-9 columns mark">
			<!--<div id="ordenaciones">
				<ul>
					<li><a href=''></a></li>
				</ul>
			</div>-->
			<h3 id="totalInic" class="title" style="text-align:center">{{numIniciativas}} iniciativas</h3>
		        <div id="filtrosActivos"></div>
			<div id="iniciativasdiv" class="mark">
				{% include "./modules/iniciativas.html" %}
				<!--<span id="volverarriba" class="enlacesfinal" style="display:block;padding:15px;text-align:center"><a style="font-size:11pt;" href="javascript:$('html')[0].scrollIntoView( true );">Volver arriba</a></span>
				<span id="cargarmas" style='display:none' class="enlacesfinal"><a href="javascript:skipIniciativas(1)">Cargar más</a></span>-->
			</div>
		</div>
		
		<div class="filtros large-3 small-3 columns">
                   <div class="filtrosContainer buscador"> 
			<form action="javascript:busquedaTextoInic();"> 
			<input id="textoBusc" type="search" maxlength="60" placeholder="Buscar por texto"/>
			<input type="submit" value="Buscar" />
		   	</form>
		   </div>
		   <!--<div class="filtrosContainer">	
			<span class="title">Ordenaciones</span>
			<select class="selectFiltro" id="ordenes">
				<option value="edad">Por edad (ascendente)</option>
				<option value="edadR">Por edad (descendente)</option>
			</select>
		   </div>-->
		   <div class="filtrosContainer">
			<span class="title">Filtros</span>
                        <span class='catFiltros'>Autor</span>
			<select class="selectFiltro filtro" id="tipo_autor">
				<option class="titleSelect" disabled selected value="no">Tipo de autor</option>
				<option value="autor-diputado">Diputados</option>
				<option value="autor-grupo">Grupos Parlamentarios</option>
			</select>
			<select class="selectFiltro filtro" style="display:none" id="grupo">
				<option class="titleSelect" disabled selected value="no">Autores (grupos)</option>
				{% for grupo in grupos%}
				<option value="grupo-{{grupo.id}}">G.P. {{grupo.nombre}}</option>
				{% endfor %}
			</select>
			<select class="selectFiltro filtro" style="display:none" id="diputado">
				<option class="titleSelect" disabled selected value="no">Autores (diputados)</option>
				{% for diputado in diputados%}
				<option value="diputado-{{diputado.id}}">{{diputado.apellidos}}, {{diputado.nombre}}</option>
				{% endfor %}
			</select>
			<select class="selectFiltro filtro" id="autores">
				<option class="titleSelect" disabled selected value="no">Nº autores</option>
				<option value="individual">Un autor</option>
				<option value="compartida">Más de un autor</option>
			</select>
			<hr/>

                        <span class='catFiltros'>Tipo de iniciativa</span>
			<select class="selectFiltro filtro" id="tipoCat">
				<option class="titleSelect" disabled selected value="no">Tipo de iniciativa</option>
				<option value="tipoCat-INTERP">Interpelación</option>
				<option value="tipoCat-MOC">Moción</option>
				<option value="tipoCat-PESC">Pregunta escrita</option>
				<option value="tipoCat-PORAL">Pregunta oral</option>	
				<option value="tipoCat-PL">Proposición de Ley</option>
				<option value="tipoCat-PNL">Proposición no de ley</option>
				<option value="tipoCat-SOLIC">Solicitud (todas)</option>
				<option value="tipoCat-SOLIC_COMP">Solicitud de comparecencia</option>
				<option value="tipoCat-SOLIC_NO">Solicitud de nuevo órgano</option>
				<option value="tipoCat-SOLIC_INF">Solicitud de informe</option>
			</select>
			<hr/>

                        <span class='catFiltros'>Tramitación</span>	
			<select class="selectFiltro filtro" id="estado">
				<option class="titleSelect" disabled selected value="no">Estado de tramitación</option>
				<option value="estado-entramit">En tramitación</option>
				<option value="estado-yatramit">Tramitada</option>
			</select>	
			<select class="selectFiltro filtro" id="tramit">
				<option class="titleSelect" disabled selected value="no">Resultado de tramitación</option>
				<optgroup label="Resultado global">
				<option value="tramit-EXITO">Exitoso</option>
				<option value="tramit-NEXITO">No exitoso</option>
				</optgroup>
				<optgroup label="Resultado exitoso concreto">
				<option value="tramit-ACM">Aprobado con modificaciones</option>
				<option value="tramit-ASM">Aprobado sin modificaciones</option>
				<option value="tramit-CONV">Convertido</option>
				<option value="tramit-SOA">Subsumido en otra iniciativa</option>
				<option value="tramit-TCSRAD">Tramitado por completo sin req. acuerdo o decisión</option>
				</optgroup>	
				<optgroup label="Resultado no exitoso concreto">
				<option value="tramit-CAD">Caducado</option>
				<option value="tramit-D">Decaído</option>
				<option value="tramit-EDCA">Extinguido por desaparición o cese del autor</option>
				<option value="tramit-ITR">Inadmitido a trámite con recalificación</option>
				<option value="tramit-ITTA">Inadmitido a trámite en términos absolutos</option>
				<option value="tramit-NC">No celebración</option>
				<option value="tramit-RECH">Rechazado</option>
				<option value="tramit-RET">Retirado</option>
				</optgroup>
			</select>
                        <hr/>
			
			<span class='catFiltros'>Fecha de presentación</span>	
			<form id="selectFechas">
                                <input type="text" class="datepicker" id="desde" placeholder="Desde"></input>
                                <input type="text" class="datepicker" id="hasta" placeholder="Hasta"></input>
                        </form>
			
			<span class="enlace_faq"><a href="http://blog.quehacenlosdiputados.net/preguntas-y-respuestas-sobre-las-iniciativas-parlamentarias-de-los-diputados/" class="fa fa-info-circle"> </i>Preguntas y respuestas sobre las iniciativas parlamentarias</a></span>
		</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{% parent %}
        <script src="/javascripts/vendors/mustache.js"></script>
	<script src="/javascripts/iniciativas.js"></script>
	<script src="/javascripts/vendors/jquery-ui.js"></script>
        <script src="/javascripts/vendors/datepicker_es.js"></script>

{% endblock %}

