{% extends 'ayudaLayout.html' %}
{% block title %}Recabar datos{% endblock %}
{% block pageTitle %}Recabar datos{% endblock %}

{% block inside %}
<p>
          <p><strong>Si eres diputado o diputada...</strong></p>
        <p>Hemos recabado la informaci&oacute;n de cada parlamentario/a de la web del Congreso, blogs y p&aacute;ginas personales y de noticias en los medios de comunicaci&oacute;n.</p>
        <p>Cualquier error o imprecisi&oacute;n que pueda haber en la web no es malintencionado, hemos intentado facilitar el acceso unificando en un &uacute;nico punto la informaci&oacute;n p&uacute;blica disponible para la ciudadan&iacute;a.&nbsp;</p>
	<p>Somos conscientes de que el trabajo de los parlamentarios/as es m&aacute;s amplio. Sin embargo, es necesaria la colaboraci&oacute;n de los propios diputados/as, poderes p&uacute;blicos e instituciones para que se publiquen las agendas de actividad, exista un registro de lobbies y de grupos de presi&oacute;n y para que haya m&aacute;s informaci&oacute;n de las Cortes Generales en formatos abiertos y accesibles.</p>
	<p>Contacte con nosotros en el mail quehacenlosdiputados@gmail.com:
        <ul>

            <li>Si alg&uacute;n dato es incorrecto o est&aacute; incompleto.</li>

            <li>Si quiere a&ntilde;adir cargos p&uacute;blicos o puestos anteriores en el CV.</li>

            <li>Si quiere completar las fechas de comienzo y fin de puestos anteriores.</li>

            <li>Si quiere adjuntar su n&oacute;mina (como <a href="/diputado/chesus-yuste-cabello/salario" target="_blank">Ches&uacute;s Yuste</a>&nbsp;o <a href="/diputado/rosa-maria-diez-gonzalez/salario" target="_blank">Rosa D&iacute;ez</a>).</li>

            <li>Si tiene alguna sugerencia, comentario o quiere colaborar con nosotros.</li>
            <li>Otras razones.</li>

        <ul></p>
{% endblock %}
