{% extends 'layout.html' %}

{% block content %}
<div class="row container">
	<div class="columns large-12 mark">
		<div class="columns large-8 mark" id="arribaqs">
			<h2 class="marked">Quiénes somos</h2>
			<div class="insideContent">
				<p>Este Qui&eacute;nes somos, escrito a modo de FAQ, pretende explicar el 
				esp&iacute;ritu, modo de funcionamiento y composici&oacute;n del
				proyecto Qu&eacute; hacen los diputados. No dudes en escribirnos 
				para cualquier duda: <a href="mailto:quehacenlosdiputados@gmail.com">quehacenlosdiputados@gmail.com</a></p>
				<h3 class="strong">&iquest;Qu&eacute; es Qu&eacute; hacen los diputados?</h3>
				<p>
				La iniciativa Qu&eacute; hacen los diputados empez&oacute; a 
				gestarse en junio de 2011. Un grupo de personas interesadas en la vida 
				pol&iacute;tica pensamos que nos podr&iacute;amos servir de las 
				herramientas digitales para monitorizar la tarea de los 
				pol&iacute;ticos. Los objetivos del proyecto son:
				</p>
				<ul>
					<li>Acercar a los ciudadanos las decisiones pol&iacute;ticas que les afectan.</li>
					<li>Ayudar a mejorar la transparencia.</li>
					<li>Conseguir la implicaci&oacute;n de los ciudadanos en el seguimiento de nuestros pol&iacute;ticos.</li>
				</ul>
				<p>
				En mayo de 2012 nos constituimos como asociaci&oacute;n y nos 
				inscribimos en el Registro Nacional de Asociaciones con el 
				n&uacute;mero 600556. Contamos con un n&uacute;mero CIF y 
				tenemos una cuenta en Tr&iacute;odos Bank.
				</p>
				<h3 class="strong">&iquest;Por qu&eacute; los diputados del Congreso?</h3>
				<p>
				El Congreso de los Diputados es la instituci&oacute;n en la que reside
				la soberan&iacute;a popular y cuyas funciones son: controlar la 
				acci&oacute;n del gobierno, legislar, aprobar los Presupuestos 
				Generales del Estado, otorgar o retirar la confianza al gobierno, 
				nombrar a los dirigentes de otras instituciones, etc. Es decir, la 
				C&aacute;mara Baja concentra funciones que afectan directa e 
				indirectamente a todos los ciudadanos.
				</p>
				<h3 class="strong">&iquest;En qu&eacute; consiste el proyecto de Qu&eacute; hacen los diputados?</h3></p>
				<p>
				Es una aplicaci&oacute;n con informaci&oacute;n y datos que 
				permite a la ciudadan&iacute;a seguir la trayectoria y labor de los 
				350 diputados del Congreso. En la web se encuentra 
				informaci&oacute;n sobre la trayectoria profesional y 
				pol&iacute;tica de los parlamentarios, datos personales 
				p&uacute;blicos (como la declaraci&oacute;n de bienes y rentas y
				sus actividades), iniciativas, comparecencias en Pleno y 
				comisi&oacute;n y votaciones en Pleno.</p>
				<p>
				Adem&aacute;s contamos con una cuenta de Twitter, un grupo de Facebook, un blog y 
				m&aacute;s canales sociales en los que informamos a grandes rasgos 
				de:
				<ul>
					<li>La agenda parlamentaria y enlaces a los documentos del trabajo 
					parlamentario, como los PDF de los proyectos de ley, las preguntas de la
					sesi&oacute;n de control, etc.</li>
					<li>Informaci&oacute;n de las sesiones parlamentarias elaborada por los medios de comunicaci&oacute;n.</li>
					<li>Informaci&oacute;n de la trayectoria profesional y pol&iacute;tica de los diputados.</li>
					<li>Difusi&oacute;n de c&oacute;mo funciona el Congreso y en qu&eacute; consiste el trabajo de los diputados.</li>
				</ul>
				</p>
				<p>
				Este proyecto no es pionero, las p&aacute;ginas que m&aacute;s nos inspiran son, entre otras, <a href="http://opencongress.com" target="_blank">opencongress.com</a> y <a href="http://openpolis.it" target="_blank">openpolis.it</a>.<br />
				</p>
				<h3 class="strong">&iquest;De d&oacute;nde sale la informaci&oacute;n que difunde 
				Qu&eacute; hacen?</h3>
				<p>
				Obtenemos la informaci&oacute;n principalmente a trav&eacute;s de 
				noticias de todo tipo de medios de comunicaci&oacute;n (generalistas
				y alternativos), blogs, de las cuentas de Twitter de los diputados, de 
				la informaci&oacute;n publicada en la web del Congreso y en otras 
				webs oficiales (BOE, BORME, Moncloa).
				</p>
				<h3 class="strong">&iquest;Qui&eacute;nes componen Qu&eacute; hacen?</h3>
				<dl>
					<dt>Vicky Bola&ntilde;os &ndash; Redes sociales, redacci&oacute;n y miner&iacute;a de datos</dt>
					<dd>
						<p>Vicky Bola&ntilde;os es periodista y co-fundadora del proyecto 
						Qu&eacute; hacen los diputados. Ha trabajado en diversos medios en 
						Mallorca y ahora en Madrid. Su motivaci&oacute;n para entrar en el 
						proyecto de QHLD surgi&oacute; durante su &eacute;poca como 
						periodista parlamentaria, al ver todas las actividades que quedaban 
						fuera del escrutinio de los periodistas y la 
						ciudadan&iacute;a.</p>
						<p>En Qu&eacute; hacen los diputados es la encargada de coordinar los 
						contenidos, los contactos en persona con los diputados/as y del contacto
						con la prensa.</p>
					</dd>
					<dt>Pablo Medina &ndash; Desarrollo, redes sociales y miner&iacute;a de datos</dt>
					<dd>
						<p>Pablo Medina es desarrollador y co-fundador del proyecto Qu&eacute; Hacen
						Los Diputados. Pablo colabora en el desarrollo de la aplicación y se encarga de 
						&lsquo;escrapear&rsquo; la  web del Congreso para obtener miles de datos sobre 
						diputados, votaciones e iniciativas, entre otras cosas, a las que darle salida en la 
						web.</p>
					</dd>
					<dt><a href="http://www.twitter.com/contreraspaloma">Paloma Contreras</a> &ndash; Redes sociales y miner&iacute;a de datos</p></dt>
					<dd><p>Paloma Contreras es licenciada en Psicolog&iacute;a y se uni&oacute; 
						al equipo de Qu&eacute; Hacen los Diputados en julio de 2012. Desde 
						entonces, se encarga de tuitear y mover por las redes sociales algunas 
						noticias y dem&aacute;s informaci&oacute;n relacionada con el 
						Congreso y que concierne a los ciudadanos. Tambi&eacute;n ha 
						colaborado en la obtenci&oacute;n de informaci&oacute;n para 
						nuestras bases de datos.</p>
					</dd>
					<dt><a href="http://www.hamoid.com">Abe Pazos</a> &ndash; Desarrollo y servidores</p></dt>
					<dd><p>Abe Pazos es artista y programador creativo y vive entre Berlín y Helsinki.
						En Qué hacen los diputados se encarga de mantener y configurar los 
						servidores, y colabora en el desarrollo de aplicaciones.
						</p>
					</dd>
					<dt>Iván Mejías &ndash; Desarrollo y diseño.</dt>
					<dd><p></p></dd>
					<dt>Ismael Viejo &ndash; Diseño, usabilidad y arquitectura web.</dt>
					<dd><p></p></dd>
				</dl>
				<a href="#" name="patrocinadores"></a>
				<h3 class="strong">Patrocinadores</h3>
				<p>
				Esta web ha sido posible gracias al apoyo de <a href="http://quehacenlosdiputados.net/agradecimientos" target="_blank">234 personas</a> que hicieron donaciones al proyecto a trav&eacute;s de la plataforma de crowdfunding Goteo.<br />
				<br />
				Agradecemos su apoyo especialmente a:<br />
				<br />
				<strong><a href="http://www.gutierrez-rubi.es/" target="_blank">Antoni Guti&eacute;rrez Rub&iacute;</a></strong> - <strong><a href="https://twitter.com/antonigr" target="_blank">@antonigr</a></strong><br />
				<br />
				<a href="http://franciscopolo.com/" target="_blank"><strong>Francisco Polo</strong></a> - <strong><a href="https://twitter.com/franciscopolo">@franciscopolo</a></strong></p>
			</div>
			<div style="float:right;width:auto;height:auto;font-weight:bold;font-size:15px;">
				<a href="#arribaqs">Volver arriba</a>
			</div>
		</div>
		<div class="container columns large-4 mark">
			{% include "./partials/menuNosotros.html" %}
		</div>
	</div>
</div>
{% endblock %}
