{% extends 'layout.html' %}
{% block content %}

{% spaceless %}
{% if organo.tipo == "C" %}
	{% set t_org = "Comisión"%}
	{% set n_org = organo.pre+" "+organo.nombre %}
{% elif organo.tipo == "SC" %}
	{% set t_org = "Subcomisión"%}
	{% set n_org = organo.pre+" "+organo.nombre %}
{% else %}{% set t_org = ""%}
	{% set n_org = organo.nombre %}
	{%if organo.tipo=="MC"%}
	{% set descr="La Mesa es el órgano rector de la Cámara. Se reúne cada semana y califica los escritos y documentos parlamentarios, declara su admisión o inadmisión y decide el procedimiento de tramitación de las distintas iniciativas. Asimismo coordina los trabajos, calendario, régimen y gobierno de la institución."%}
	{%elif organo.tipo=="JP"%}
	{% set descr="La Junta de Portavoces regula cuestiones de la organización de la Cámara y da su consentimiento a asuntos determinados. Está formada por los portavoces de los grupos parlamentarios."%}
	{%else%}
	{% set descr="La Diputación Permanente vela por los poderes de la Cámara cuando no está reunida o se disuelve y solicita la celebración de las sesiones extraordinarias del Pleno."%}
	{%endif%}
{%endif%}

{% if organo.tipo=="C" or organo.tipo=="SC" %}
	{% if organo.legis==1 %}{%set legisnom="Legislativa"%}{%else%}{%set legisnom="No legislativa"%}{%endif%}
	{% if organo.perm==1 %}{%set permnom="permanente"%}{%else%}{%set permnom="no permanente"%}{%endif%}
	{% if organo.mixta==1 %}{%set mixtanom="mixta"%}{%else%}{%set mixtanom=""%}{%endif%}
{%endif%}

{% set ndipus=0 %}
{% set ndipusex=0 %}
{% for dipu in diputados %}
	{% for cargo in dipu.cargos_congreso %}
		{% set cargoid=""+cargo.idOrgano+"" %}
		{% if cargoid == organo.id %} 
			{%if !cargo.baja %}{% set ndipus +=1 %}{% else %}{% set ndipusex +=1 %}{% endif %}
		{% endif %}
	{% endfor %}
{% endfor %}
{% set ndipushist = ndipus+ndipusex %}

{% if organo.tipo=="SC"%}
        {% for org in organos %}
                {%if organo.com_asociada == org.id%}{%set com_asoc=org%}{%endif%}
        {%endfor%}
{%endif%}
{% endspaceless %}
        <div class="row">
                <div class="large-12 columns list">
                        <!--#include virtual="/modules/organos/list?active={{organo.tipo}}" -->
                </div>
        </div>
    <div class="row">
    	<div class="large-12 columns">
			{% if organo.tipo=="C"%} 
			<span class='volverlistado volverlistadoDesp'><i class='fa fa-chevron-left'></i><a href='/comisiones'>Ir al listado de comisiones</a></span>
			{%elif organo.tipo=="SC" %}
			<span class='volverlistado volverlistadoDesp'><i class='fa fa-chevron-left'></i><a href='/subcomisiones'>Ir al listado de subcomisiones</a></span>
			{%endif%}
		</div>
    </div>

	<div class="row container organos">
		<div class="large-12 columns">
			<span class="encabezadoMod">{{t_org }} {{n_org }}</span>
            <span class="subTitle2"><strong>{{ndipus}} diputados</strong></span>
		{% if organo.tipo=="C" or organo.tipo=="SC" %}
			<span class="subTitle2 sub">Tipo: {{legisnom}} {{permnom}} {{mixtanom}}</span>
			{% if organo.tipo == "SC"%}
                        <span class="subTitle2 sub">Comisión de la que proviene: <a href="{{com_asoc.id}}">{{com_asoc.nombre}}</a></span>
                        {%elseif organo.subcom_asociadas%}
			{% set num_sc_asoc= organo.subcom_asociadas | length %}
			{% if num_sc_asoc==1%}<span class="subTitle2 sub">Subcomisón asociada: 
			{% else %}<span class="subTitle2 sub">Subcomisones asociadas: 
			{%endif%}
			{%set n=1%}
			{%for sc_asoc in organo.subcom_asociadas%}
                		{% for org in organos %}
                        		{%if org.id == sc_asoc%}
                                		{%set subcom=org.nombre%}
                                		{%if n==1 %}
                                        		<a href="{{sc_asoc}}">{{subcom}}</a>
                                		{%elseif n==num_sc_asoc%}
                                        		y <a href="{{sc_asoc}}">{{subcom}}</a>
                                		{%else%}
                                        		, <a href="{{sc_asoc}}">{{subcom}}</a> 
                                		{%endif%}
                        		{%endif%}
                		{%endfor%}
                	{%set n+=1%}
        		{%endfor%}
			</span>
			{%endif%}
		{% else %}
			<span class="subTitle2 desc">{{descr}}</span>
		{% endif %}
			<span class="subTitle2 date">Fecha de constitución: {{organo.constituida|fecha}}</span>
		</div>
		<div class="large-12 columns mod-organos">
                        <!--<span class="subTitle">Nº diputados históricos: {{ndipushist}}</span>-->
                        <!--#include virtual="/modules/organo/{{organo.id}}/diputados" -->
                </div>
</div>
{% endblock %}

{% block title %}{% spaceless %}
	{% if organo.tipo == "C" %}{% set t_org = "Comisión"%}{% set n_org = organo.pre+" "+organo.nombre %}
	{% elif organo.tipo == "SC" %}{% set t_org = "Subcomisión"%}{% set n_org = organo.pre+" "+organo.nombre %}
	{% else %}{% set t_org = ""%}{% set n_org = organo.nombre %}
	{%endif%}
	{%endspaceless%}
{{t_org}} {{n_org}}
{% endblock %}

{% block scripts %}
	{% parent %}
{% endblock %}
