{% extends 'ayudaLayout.html' %}

{% block pageTitle %}Sigue a tu diputado{% endblock %}

{% block inside %}
<p>
          <p><strong>Sigue a un diputado del Congreso en cuatro pasos</strong></p>
          <h3 class="strong">1. Comienza a seguir a tu diputado/a en las redes sociales</h3>
      <p>Las principales redes sociales que usan los parlamentarios son Twitter y Facebook. Para encontrarlo entra en su <a href="http://quehacenlosdiputados.net/diputados">ficha en la web de Qu&eacute; hacen</a>, all&iacute; est&aacute;n enlazadas no solo sus cuentas en redes, sino tambi&eacute;n su blog si lo tienen. Para ver lo que dicen en Twitter no es necesario abrir una cuenta, pero s&iacute; aconsejable, en caso de que quieras comentar algo con ella o &eacute;l. En Facebook s&iacute; que hay que abrir cuenta, tanto para a&ntilde;adirle como amigo/a como para seguir su &quot;fan page&quot;.</p>

        <h3 class="strong">2. Sigue su trabajo en el Congreso</h3>
        <p>En la web del Congreso se publican las iniciativas que presenta y las intervenciones en pleno o comisi&oacute;n. Puedes acceder a ellas desde la ficha de cada diputado en la <a href="http://quehacenlosdiputados.net/diputados">web de Qu&eacute; hacen</a>.</p>
        <p>Para saber si el diputado forma parte de una <a href="http://blog.quehacenlosdiputados.net/web-congreso-ya-muestra-ponentes-proyectos-ley/">ponencia parlamentaria</a>, es decir, si es uno de los diputados que ayuda a elaborar un informe previo a la tramitaci&oacute;n de un proyecto de ley, ya ten&eacute;is que entrar en el proyecto de ley en s&iacute;.</p>
          <p>Sabiendo en qu&eacute; comisiones trabaja el diputado podemos ver los <strong>proyectos que tiene en marcha la comisi&oacute;n</strong> y si participa de ellos.</p>

        <h3 class="strong">3. Ent&eacute;rate de qu&eacute; vota tu diputado/a</h3>
        <p>Es posible saber qu&eacute; ha votado el diputado en las iniciativas presentadas en el pleno y si el diputado ha asistido o no. En <a href="http://blog.quehacenlosdiputados.net/saber-que-vota-cada-diputado-en-el-pleno-del-congreso-ya-es-posible/">este tutorial</a> os explicamos <strong>c&oacute;mo llegar a la votaciones.</strong><p/>
        <p>Hay que tener en cuenta que los datos de votaci&oacute;n -y por tanto de asistencia- solo existen si ese d&iacute;a se vota. No hay ninguna otra manera de saber si los diputados acuden al Congreso, ya que no tienen obligaci&oacute;n de &quot;fichar&quot; o de registrar su presencia.<p/>

        <h3 class="strong">4. Ent&eacute;rate de qu&eacute; dice tu diputado/a</h3>
        <p>Para conocer los argumentos y pol&iacute;ticas que defiende cada parlamentario puedes hacer una b&uacute;squeda de noticias en las que aparezca -por ejemplo, en el <a href="https://news.google.es/" target="_blank">buscador de noticias de Google</a>-, pero tambi&eacute;n los post que publica en su blog, en su p&aacute;gina web personal y en la p&aacute;gina web del partido pol&iacute;tico.</p>
        <p> Si adem&aacute;s quieres saber qu&eacute; hacer despu&eacute;s con los datos:</p>
        <ul>
                <li> Te ayudamos a gestionar la informaci&oacute;n una vez recopilada: <a href="http://blog.quehacenlosdiputados.net/tengo-la-informacion-de-mi-diputado-y-ahora-que-hago/" target="_blank">Tengo la informaci&oacute;n de mi diputado, &iquest;y ahora qu&eacute; hago?</a></li>
                <li> Tambi&eacute;n puedes hacer un seguimiento m&aacute;s sencillo gracias al formulario que encontrar&aacute;s en <a href="http://blog.quehacenlosdiputados.net/que-preguntan-al-gobierno-los-diputados-de-tu-provincia/" target="_blank">&iquest;Qu&eacute; preguntan al Gobierno los diputados de tu provincia?</a></li>
                <li> Si lo que prefieres es seguir las iniciativas que instan al Gobierno a tomar determinadas medidas: <a href="http://blog.quehacenlosdiputados.net/como-seguir-las-proposiciones-no-de-ley-del-congreso/" target="_blank">C&oacute;mo seguir las Proposiciones no de Ley del Congreso</a></li>
        </ul>
          <p><strong>Toda la informaci&oacute;n relevante sobre el funcionamiento del Parlamento est&aacute; recopilada en esta gu&iacute;a: &ldquo;<a href="http://blog.quehacenlosdiputados.net/el-congreso-para-principiantes-la-guia-de-que-hacen-para-no-perderse-en-el-parlamento/" target="_blank">El Congreso para principiantes</a>&rdquo;</strong></p>

{% endblock %}
