{% extends 'layout.html' %}

{% block title %}Subcomisiones{% endblock %}

{% block content %}
	<div class="row">
                <div class="large-12 columns list">
                        <!--#include virtual="/modules/organos/list?active=SC" -->
                </div>
        </div>


	<div class="row container">
		<div class="diputadosTotal">
			<span>Subcomisiones del Congreso</span>
		</div>
		<table>
			<tbody>
			{% for com in subcomisiones %}
				<tr>
					<td><a href="/organo/{{com.normalized.url}}">{{ com.nombre }}</a></td>
				</tr>
			{% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}
{% block scripts %}
	{% parent %}
{% endblock %}
