.header {
    background-color: black;
    color: white;
}
.header h1 {
    width: 60%;
    height: 85px;
    display: inline-block;
    overflow: hidden;
    text-indent: -100%;
    background-image: url(/images/logo.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0;
    margin: 0;
    float: left;
}
.header form {
    display: inline-block;
    width: 40%;
    padding-top: 1.5em;
}
.header form input[type="text"]{
    display: inline-block;
    -webkit-border-radius: 2px 0 0 2px;
    padding: 1em;
    float: left;
    border: none;
    width: 65%;
    font-size: .8em;
    box-shadow: inset 0 0 20px rgba(0,0,0,.2),0px -1px 0px rgba(255,255,255,.4);
}

.header form input[type="submit"]{
    background-color:red;
    border: none;
    display: inline-block;
    padding: 1em;
    float: left;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    border-radius: 0 2px 2px 0;
    box-shadow: inset 0 0 20px rgba(0,0,0,.2),0px -1px 0px rgba(255,255,255,.3);
}
.header form input[type="submit"]:hover{
background: white;
color:black;
cursor: pointer;
}
.nav { background-color:#333;}
.nav.secondary          { background-color: #44474c; border-bottom: 6px solid #ff6956; box-shadow: 0 1px 10px rgba(0,0,0,.2);}
.nav.secondary ul       { padding: 0; margin: 0; }
.nav.secondary ul li    { display: inline-block; text-transform: uppercase; float:left;}
.nav.secondary ul li.right    { float:right;}
.nav.secondary ul li a  { color: rgba(255,255,255,.7); font-weight: normal; font-size: 8.5pt; line-height: 1.1em; text-decoration: none; padding: 14px 7px; display: block;}
.nav.secondary ul li a.active { background-color: #ff6956; box-shadow: inset 0 1px 1px rgba(255,255,255,.4); font-weight: bold; color: white;}
.nav.secondary ul li a:hover:not(.active) {background-color:black;}

.footer { background-color:#ff6956; color:white; margin-top: 1em;}
.footer dl {line-height:1em;font-size: 9pt;}
.footer dl dt {text-transform:uppercase; font-weight:bold;padding: 1em 0 1em 0; margin:0 0 .5em 0; border-bottom: 1px solid rgba(2552,255,255,.4);}
.footer dl dd {margin:0;display:block;padding:4px 0;}
.footer dl dd a {text-decoration:none; color:white; font-weight:bold;display: block;}
.footer .section {padding: 0 !important;}
i.social            { display:inline-block; width:22px; height:22px; background: url(/images/socialIcons.png) no-repeat 0 0 transparent;}
i.social + span     { display:inline-block; vertical-align: top; padding: .45em;}
i.social.twitter    { background-position: 0px 0; }
i.social.facebook   { background-position: 0px -22px; }
i.social.youtube    { background-position: 0 -44px; }

.menuNosotros {}
.menuNosotros li { padding: .2em 0; }
.menuNosotros li a { font-size: .8em; }
.menuNosotros li a i { color: #fe5339; } /* bullet */
.menuNosotros li a span { color:black; padding-left: .7em; }
.menuNosotros li a:hover span,
.menuNosotros li.active span { color:#fe5339; }
.insideContent { font-size: .8em; }
.insideContent p { line-height: 1.3em; }
.insideContent ul { padding-left: 2em; }
.insideContent ul li { list-style-type: disc; padding:.2em 0em; }
h2.marked { color: black; }

.donantes {
    -webkit-columns: 10px 3;
    -moz-columns: 10px 3;
    columns: 10px 3;
}


.pagination {padding:.1em;}
.pagination a,
.pagination span { display:inline-block; font-size:.8em; width:33%; text-align:center;}
.pagination a { color:#333; }
.pagination span { font-weight:bold; color:#000; }

.extendedInfoDiputado{padding-bottom:7px;}
li.network{font-size:1.5em;}

.tabs { background-color: #f2f2f2; border: 1px solid #999; font-size: 0.7em; font-weight: bold; background-image: linear-gradient(to bottom,transparent 50%, rgba(0,0,0,.1)); border-radius: 4px; margin: 1em;}
.tabs li { display: inline-block; padding: .5em 0;margin-left: 5px}
.tabs li.active a { background-color: #fe5339; background-image: linear-gradient(to bottom, rgba(255,255,255,.2) 50%,transparent 55%); border-radius: 4px; color: white;}
.tabs li a { text-decoration: none; color: #333; text-transform: uppercase; padding: 1em; display: block;}

table { width: 100%;}
table td {}
#trayectoria { padding:1em;}
#trayectoria tr { font-size: .5em;}
#trayectoria tr:nth-child(odd) { background-color: #f2f2f2;}
#trayectoria td { font-size: 1.6em; padding: 1em; color: #484b50;}
#trayectoria td:first-child { text-align: center; color: #fe5339; font-weight: bold; width: 15%;}

span.volverlistado{position:absolute; top:25px; left:15px;margin:0;font-size:14px;}
span.volverlistadoDesp{top:50px;}
span.volverlistado i{color:#fe5339;margin-right:5px;}

/**
 listado de diputados
 **/

.diputadosTotal {text-align: center; padding: 1em 0; border-bottom: 1px solid #c3c3c3; position:relative;}
.diputadosTotal span {font-size: 20px; display: block; margin: 5px 0; color: #665; }
.diputadosTotal span:first-child {color:black; font-weight:bold; }
.diputadosTotal + span {text-align: left; padding: .5em 1em !important; font-size: 20px; line-height:2em; color: #665; }
.diputadosTotal span.volverlistado{position:absolute; top:25px; left:15px;margin:0;font-size:14px;}
.diputadosTotal span.volverlistado i{color:#fe5339;margin-right:5px;}

ul.diputados li a span {line-height:100%;}

.hddn {
    position:absolute; width:0;height:0;overflow:hidden; text-indent:-100%;
}

.diputados_p .diputados {overflow-y:visible; overflow-x:hidden;display:block; height: 500px;}
.grupos_p .diputados { overflow-y:visible; overflow-x:hidden;display:block; height: 500px; }

.diputados_p .diputados .diputado,
.circunscripciones_p .diputados .diputado,
.grupos_p .diputados .diputado { width: 19.5%; }

.diputados_p .diputados .diputado a .grupo,
.circunscripciones_p .diputados .diputado a .grupo,
.grupos_p .diputados .diputado a .grupo   { /*hddn*/position:absolute; width:0;height:0;overflow:hidden; text-indent:-100%; }
.diputados_p .diputados .diputado a .partido,
.circunscripciones_p .diputados .diputado a .partido,
.grupos_p .diputados .diputado a .partido { /*hddn*/position:absolute; width:0;height:0;overflow:hidden; text-indent:-100%; }

/** Modulo listadoGrupos **/
.grupos { display:block; background-color:white; border:1px solid #c3c3c3; padding: .3em 1em; border-radius: 5px; margin-top: 1em;}
.grupos .grupo { display:inline-block; padding:.5em .5em;}
.grupos .grupo.active {
    background-color: #fe5339;
    border-radius: 5px;
}
.grupos .grupo a { color:black; font-weight:bold; font-size:8pt; text-transform:uppercase;}
.grupos .grupo.active a{color: white;}

.encabezadoMod {text-align: center; padding: 1em 0; border-top: 1px solid #c3c3c3; display: block;font-weight: bold;color: #555;font-size: 15pt;line-height: 1em;}
.subTitle {text-align: center; line-height:1em; display: block;font-weight: normal;color: #555;font-size: 15pt;margin-top: -.8em;margin-bottom: 1em;}
.subTitle2 {text-align: center; line-height:1.5em; display: block;font-weight: normal;color: #555;font-size: 11pt;margin-top: -.8em;margin-bottom: 1em;}


.filtros {}
.filtros input[type="search"]{-webkit-appearance: none;border: 1px solid #c3c3c3;padding: .5em 0em;font-size: 1em;width: 98%;background: #f2f2f2;color: #44474c;}
/** acciones
ul.diputadosList li *,
ul.diputadosList li a,
ul.diputadosList li a img { transition:all .333s 0s;}
ul.diputadosList li a:hover     { background-color: rgb(0, 162, 184); color: white;}
ul.diputadosList li a:hover img { -webkit-filter:none;}
ul.diputadosList li a:hover span { color:white; }
**/

/**
 Votacion
**/
.infoVotacion       { padding: 1em !important;display:block; }
.infoVotacion .info { font-size: 9pt; color:#666;}
.infoVotacion h2    { font-size:12pt; margin: 0; padding: .7em 0;}
.infoVotacion h2 a  { color: #fe5339; }
.infoVotacion span  { display:block; }
.infoVotacion span.resultado            { font-size:10pt; display:inline-block; padding: .4em;line-height:1.2em;color:white; font-weight: bold;}
.infoVotacion span.resultado.aprobada   { background-color:#6fc354;}
.infoVotacion span.resultado.noaprobada { background-color:#e22b0b;}
.infoVotacion .descVotacion { padding:.4em 0;}
.infoVotacion .descVotacion span { display:block;color:#666;font-size:11pt;line-height:1.2em; padding: 0;}
.infoVotacion ul.resultado li               { display:inline-block; width: 30%; margin: .4em 0; height:auto;padding:.4em; background-color:#f2f2f2; border:1px solid #c3c3c3; text-align:center; padding-bottom: 3em; position:relative;}
.infoVotacion ul.resultado li.asentimiento  { display:none;}
.infoVotacion ul.resultado li span {}
.infoVotacion ul.resultado li .tipo         { position:absolute;bottom:0;width:100%;left:0; padding: .6em;border-top:1px solid #c3c3c3; line-height: 1em;}
.infoVotacion ul.resultado li .result       { font-size:30pt; font-weight:bold; line-height: 1.4em; text-shadow: 0 1px 0px white,0 -1px 0 #e4e4e4;}
.infoVotacion ul.resultado li .votoemitido  { font-size:8pt; color:#666; line-height: 1.5em;}

/* colores */
.infoVotacion ul.resultado li.afavor .result        { color:#6fc354;}
.infoVotacion ul.resultado li.encontra .result      { color:#f70504;}
.infoVotacion ul.resultado li.presentes .result     { color:#1695fe;}
.infoVotacion ul.resultado li.abstenciones .result  { color:#ecbc02;}
.infoVotacion ul.resultado li.novotan  .result      { color:#333;}
/************/
.infoVotacion ul.resultado li.afavor .tipo          { border-color:#6fc354;}
.infoVotacion ul.resultado li.encontra .tipo        { border-color:#f70504;}
.infoVotacion ul.resultado li.presentes .tipo       { border-color:#1695fe;}
.infoVotacion ul.resultado li.abstenciones .tipo    { border-color:#ecbc02;}
.infoVotacion ul.resultado li.novotan  .tipo        { border-color:#333;}
.infoVotacion ol {list-style:none; padding:0}

/* ultimas votaciones */
.infoVotacion .ultimasvotaciones    {
    padding: 1em;
}
.infoVotacion .ultimasvotaciones li {
    border-bottom: 1px solid #fe5339;
    padding: 1em 0;
}
.infoVotacion .ultimasvotaciones ul.resultado li {background: none; border: none;display: block;padding: 0;text-align: left;margin: 0;}
.infoVotacion .ultimasvotaciones ul.resultado li span {display: inline;font-size: 9pt;color: #333;}
.infoVotacion .ultimasvotaciones ul.resultado li .result { color: #333;}
.infoVotacion .ultimasvotaciones ul.resultado li .tipo {position: relative;border: none;padding: 0;}
.infoVotacion .ultimasvotaciones ul.resultado li .tipo i{position:relative; width: 1em; height: 1em; background-color:red;border-radius:100%;display: inline-block;margin-right: .5em;}

.infoVotacion .ultimasvotaciones ul.resultado li.asentimiento {display: none;}
.infoVotacion .ultimasvotaciones ul.resultado li.afavor .tipo i     { background-color: #6fc354;}
.infoVotacion .ultimasvotaciones ul.resultado li.encontra .tipo i   { background-color: #f70504;}
.infoVotacion .ultimasvotaciones ul.resultado li.presentes .tipo i  { background-color: #1695fe;}
.infoVotacion .ultimasvotaciones ul.resultado li.abstenciones .tipo i { background-color: #ecbc02;}
.infoVotacion .ultimasvotaciones ul.resultado li.novotan .tipo i    { background-color: #333;}

table{margin:1em 0; /*border-bottom:1px solid #fe5339;*/}

table td,table th {border-bottom:1px solid #e4e4e4;}
table tr:last-child td,table tr:last-child th {border-bottom:none;}
table thead th {border-bottom:1px solid #999;}
table th {text-align:left;padding:.3em;}
table td {padding:.3em; font-size:.8em}

.votaciones {display:block;}
.votaciones li {display:block;}
.votaciones li span {display:block;}
.votaciones .votacionesPorSesion {}
.votaciones .votacionesPorSesion li {padding:.2em .5em;}
.votaciones .votacionesPorSesion span {font-size:9pt;}
.votaciones .votacionesPorSesion li a {color:#fe5339; }


input[type="checkbox"] { opacity: 0; position: absolute; }
input[type="checkbox"] ~ label {display:block;}
input[type="checkbox"] ~ ul {display:none; padding-left: 10px;}
input[type="checkbox"]:checked ~ ul {display:block;}

a {color: #fe5339; text-decoration: none;}
.gruposParlamentarios > li { position: relative; padding: .3em; font-size: .8em; }
.gruposParlamentarios ul > li { display:block; padding: .3em; }


.filter ul {margin: 10px}

.filter .firstLetterFilter li {
    display: inline-block;
}

/* */

.related h1 {margin: 0 20px 10px 20px;font-size: 1.4em}
.related ul {margin: 20px}

table#actividad,
table#bienes,
table#vidalaboral {
/*padding: 0 20px 20px 20px*/

}
.actividad ul.tabs li span {}

.latestPost {
    -webkit-transform: translate3d(0,0,0);
}


/* EVENTOS*/

.eventos{
   margin-top:5px;
   margin-bottom:5px;;
}
.eventos .evento {
  padding: 10px;
}

.eventos .evento > * {
  padding: 2px 0;
}

.eventos .evento .sineventos{
  color: #6a6a6a;
  display: inline-block;
  padding:5px;
  font-size: 14px;
}
.eventos .evento .info {
  display: block;
  color: #6a6a6a;
}
.eventos .evento .info span {
  display: inline-block;
  width:98%;
  font-size: 12px;
  padding:0px;
}

.eventos .evento .od span{
  font-size:13px;
  line-height:1.3em;
}

.eventos .evento .info span i{
  font-size:15px;
  padding-left:3px;
  color:#B40404;
}

.eventos .evento .tituloEvento{
  padding-bottom: 0px;
  font-size:14px;
}

.eventos .evento .tituloEvento a:hover{
  text-decoration:underline;
}

.eventos .evento .resultado{
  font-size: 14px;
}
.eventos .evento .resultado span{
  display: inline-block;
}
.eventos .evento .textoExpediente{
  font-size: 14px;
  line-height: 1.3em;
  color: #6a6a6a;
}

