.actividad-parlamentaria a {
  color: #ff6956;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 1.3em;
  padding: 2px 0;
  margin-bottom: 2px;
}

* {
  line-height: 1.2em;
}

body {
  background: #f2f2f2;
}

ul,
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-size: 20pt;
  font-weight: bold;
  margin: 0.67em 0;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 14pt;
}

a:hover {
  color: #ff6956;
}

.mark {
  padding: 7px !important;
}

.fullrow {
  max-width: 100%;
}
.fullrow .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5em;
}

.border-left-right {
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}

.actividad .tabs {
  background-color: #f2f2f2;
  border: 0;
  border-bottom: 1px solid #dadada;
  font-size: 0.7em;
  font-weight: bold;
  background-image: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.actividad .tabs > * {
  display: inline-block;
  width: 50%;
  padding: 0;
  margin: 0;
}
.actividad .tabs a {
  text-decoration: none;
  color: #fe5339;
  padding: 15px;
  display: block;
  font-size: 10pt;
  text-transform: none;
}
.actividad .tabs .active a {
  background-color: #fe5339;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 50%, transparent 55%);
  border-radius: 0;
  color: white;
}
.actividad .tabs-content {
  margin: 0;
  padding: 0;
}
.actividad .tabs-content .content {
  margin: 0;
  padding: 0;
}
.actividad .tabs-content .diputados {
  margin: 0;
  padding: 0em;
}
.actividad .tabs-content .diputados .diputado {
  display: inline-table;
  width: 32%;
  padding: 1%;
  text-align: center;
}

.container {
  margin-top: 1em;
  border: 1px solid #c3c3c3;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.container.noradius {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.container .columns {
  padding: 0;
}
.container[class*="mod"] {
  border-color: #dadada;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.container .header {
  background-color: #44474c;
  padding: 1.4em;
  font-weight: bold;
}

.list {
  list-style: none;
  line-height: 1.5em;
  margin: 0;
  font-size: .9em;
  padding: 20px;
}
.list.detailed {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.list.detailed li {
  padding-top: 0.26em;
  padding-bottom: 0.26em;
}
.list.detailed li .fa {
  font-size: .8em;
  color: #ff6956;
  padding-right: .5em;
}
.list.box {
  padding: 0;
}
.list.box li {
  display: inline-block;
}

.sharer span {
  font-size: .8em;
}
.sharer a {
  font-size: 1.2em;
  padding: 0 0.2em;
}

/** Modulo diputados **/
.diputados {
  padding: 0;
  margin: 0;
  text-align: center;
}
.diputados .diputado {
  display: inline-table;
  width: 11em;
  padding: 1%;
  text-align: center;
}
.diputados .diputado a {
  display: block;
  color: black;
  margin: 0 auto;
  font-size: 9pt;
  text-align: center;
  position: relative;
}
.diputados .diputado a:hover span {
  color: #fe5339;
  /*color:lightgrey;*/
}
.diputados .diputado a .fotoimg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #b6b6b6;
  overflow: hidden;
  padding: 0;
  display: inline-block;
  position: relative;
}
.diputados .diputado a .partidoimg {
  height: 2em;
  position: absolute;
  top: 66px;
  margin-left: 1.2em;
}
.diputados .diputado a .nombre,
.diputados .diputado a .grupo,
.diputados .diputado a .partido {
  display: block;
  padding: .4em;
}
.diputados .diputado .subt {
  font-size: 9pt;
  padding: 2pt;
  display: block;
}
.diputados .diputado .subtrs a {
  display: inline-block;
  margin: 0pt 3pt;
  font-size: 18pt;
}
.diputados .diputado .subtrs a:hover i {
  color: #fe5339 !important;
}

.infoDiputado {
  border-bottom: 1px solid #c3c3c3;
  height: auto;
}
.infoDiputado .ficha {
  position: relative;
  display: block;
}
.infoDiputado .ficha .foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #b6b6b6;
  overflow: hidden;
  padding: 0;
  display: inline-block;
  position: relative;
  margin-right: 30px;
}
.infoDiputado .ficha .foto img {
  display: block;
}
.infoDiputado .ficha .foto img.carnet {
  width: 100%;
  position: relative;
  height: auto;
  display: block;
  vertical-align: middle;
  margin-top: -50%;
  top: 37%;
}
.infoDiputado .ficha img.partido {
  width: 50px;
  position: absolute;
  left: 150px;
  top: 150px;
  margin-top: -50px;
  margin-left: -30px;
}
.infoDiputado .ficha span {
  display: block;
  color: #44474c;
  float: left;
  width: 100%;
}
.infoDiputado .ficha span.nombre {
  font-size: 18pt;
  font-weight: bold;
}
.infoDiputado .ficha span.circunscripcion {
  font-size: .9em;
  padding-top: 1em;
}
.infoDiputado .ficha span.grupo {
  font-size: .9em;
  padding-top: 0.5em;
}
.infoDiputado .details li {
  padding: 0.2em 0;
  line-height: 110%;
}
.infoDiputado .details li span {
  display: block;
  font-size: .8em;
  color: #44474c;
}
.infoDiputado .details li.network a {
  margin-right: 5px;
}

.infoDiputado #prev,
.infoDiputado #next {
  display: block;
  text-align: center;
  min-height: 100%;
  font-size: 40pt;
  line-height: 120pt;
}

.extendedInfoDiputado .unknow {
  color: #6a6a6a;
  font-style: italic;
  font-size: 0.9em;
}

/**** Modulo iniciativas ***/
.iniciativas .iniciativa {
  display: block;
  margin-bottom: 1em;
  font-size: 11pt;
  line-height: 1.2em;
}
.iniciativas .iniciativa > * {
  display: block;
}
.iniciativas .iniciativa a + span {
  color: #44474c;
}

.actividad-parlamentaria .votaciones .votacion .resultado .asentimiento, .actividad-parlamentaria .votaciones .votacion .resultado .voto {
  color: white;
  padding: 4px;
  font-weight: bold;
}
.actividad-parlamentaria .votaciones .votacion .resultado .asentimiento.no, .actividad-parlamentaria .votaciones .votacion .resultado .voto.no {
  background-color: #f80403;
}
.actividad-parlamentaria .votaciones .votacion .resultado .asentimiento.si, .actividad-parlamentaria .votaciones .votacion .resultado .voto.si {
  background-color: #6fc354;
}
.actividad-parlamentaria .votaciones .votacion .resultado .asentimiento.abstencion, .actividad-parlamentaria .votaciones .votacion .resultado .voto.abstencion {
  background-color: #e9bb05;
}
.actividad-parlamentaria .votaciones .votacion .resultado .asentimiento.no-vota, .actividad-parlamentaria .votaciones .votacion .resultado .voto.no-vota {
  background-color: black;
}

.actividad-parlamentaria h3 {
  display: block;
  text-align: center;
}
.actividad-parlamentaria .votaciones .votacion {
  padding: 10px 0;
  border-bottom: 1px dashed #f2f2f2;
}
.actividad-parlamentaria .votaciones .votacion:last-child {
  border-bottom: none;
}
.actividad-parlamentaria .votaciones .votacion > * {
  padding: 2px 0;
}
.actividad-parlamentaria .votaciones .votacion .info {
  display: block;
  color: #6a6a6a;
}
.actividad-parlamentaria .votaciones .votacion .info span {
  display: inline-block;
  font-size: 12px;
}
.actividad-parlamentaria .votaciones .votacion .tituloVotacion {
  padding-bottom: 4px;
}
.actividad-parlamentaria .votaciones .votacion .resultado {
  font-size: 14px;
}
.actividad-parlamentaria .votaciones .votacion .resultado span {
  display: inline-block;
}
.actividad-parlamentaria .votaciones .votacion .textoExpediente {
  font-size: 14px;
  line-height: 1.3em;
  color: #6a6a6a;
}
.actividad-parlamentaria .mod-iniciativas-parlamentarias .list, .actividad-parlamentaria .mod-intervenciones-parlamentarias .list {
  background-color: #f2f2f2;
  display: block;
  padding: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
}
.actividad-parlamentaria .mod-iniciativas-parlamentarias li, .actividad-parlamentaria .mod-intervenciones-parlamentarias li {
  width: 32%;
  min-height: 70px;
  display: inline-block;
  vertical-align: top;
  color: #6a6a6a;
}
.actividad-parlamentaria .mod-iniciativas-parlamentarias li span, .actividad-parlamentaria .mod-intervenciones-parlamentarias li span {
  display: block;
  text-align: center;
}
.actividad-parlamentaria .mod-iniciativas-parlamentarias li .data, .actividad-parlamentaria .mod-intervenciones-parlamentarias li .data {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2em;
}
.actividad-parlamentaria .mod-iniciativas-parlamentarias li .data.total, .actividad-parlamentaria .mod-intervenciones-parlamentarias li .data.total {
  color: #6fc354;
}
.actividad-parlamentaria .mod-iniciativas-parlamentarias li .desc, .actividad-parlamentaria .mod-intervenciones-parlamentarias li .desc {
  line-height: 1.2em;
  font-size: 12px;
}

#bienes dl, #salario dl {
  display: block;
  font-size: 10pt;
  margin: 0;
  font-size: 10pt;
  margin: 0;
  vertical-align: top;
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 0;
}
#bienes dl:last-child, #salario dl:last-child {
  border-bottom: none;
}
#bienes dt, #bienes dd, #salario dt, #salario dd {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#bienes dt, #salario dt {
  width: 25%;
}
#bienes dd, #salario dd {
  width: 74%;
}

#salario th {
  width: 25%;
}
#salario dt {
  width: 55%;
}
#salario dd {
  width: 44%;
}

.formacion {
  color: black;
  padding: 0px 4px;
  font-weight: bold;
}

.mod-grupo-contacto .info {
  font-size: 11px;
  color: #6a6a6a;
}
.mod-grupo-contacto .info .contact span {
  word-wrap: break-word;
  font-size: 10.5pt;
  line-height: 1.4em;
}
.mod-grupo-contacto .info .contact .info img {
  max-width: 34%;
  display: block;
  margin-bottom: 10px;
}
.mod-grupo-contacto .info .contact .info span {
  word-wrap: break-word;
  font-size: 10.5pt;
  line-height: 1.4em;
}
.mod-grupo-contacto .info .contact .contacto {
  margin-top: 10px;
}
.mod-grupo-contacto .info .contact .contacto .tipo {
  display: block;
  padding: 2px 0;
}
.mod-grupo-contacto .info .contact .contacto .tipo a i {
  float: left;
  font-size: 13pt;
  padding-right: .3em;
}
.mod-grupo-contacto .info .contact .contacto .tipo a span {
  color: #6a6a6a;
  display: inline;
  font-size: 10pt;
}
.mod-grupo-contacto .location img {
  border: 1px solid #dadada;
}
.mod-grupo-contacto .location span {
  color: #6a6a6a;
  display: block;
  padding: 0.5em 0;
  font-size: 11pt;
}

.organos .subTitle2 {
  color: black;
}
.organos .subTitle2.desc {
  padding: 0 10px;
}
.organos .subTitle2.date {
  color: #6a6a6a;
}

.submenu.organos {
  display: block;
  background-color: white;
  border: 1px solid #c3c3c3;
  padding: .3em;
  border-radius: 5px;
  margin-top: 1em;
  text-align: center;
}
.submenu.organos .organo {
  display: inline-block;
  padding: 0.5em 0.5em;
  width: 19.6%;
}
.submenu.organos .organo.active {
  background-color: #ff6956;
  border-radius: 5px;
}
.submenu.organos .organo.active a {
  color: white;
}
.submenu.organos .organo a {
  color: black;
  font-weight: bold;
  font-size: 8pt;
  text-transform: uppercase;
}

.mod-organos h4 {
  color: black;
  padding: 1em 0 0;
  text-transform: uppercase;
  font-size: 12pt;
  text-align: center;
  font-weight: bold;
}
.mod-organos .diputados {
  border-bottom: 1px solid #dadada;
}
.mod-organos .diputados:last-child {
  border-bottom: none;
}
.mod-organos .diputados .diputado {
  /*a .fotoimg {
  	width: 70px;
  	height: 70px;
  }
  .partidoimg {
  	top: 50px;
  }*/
}
