<td>{% if _bien.concepto %}{{ _bien.concepto }}{% else %}{{no_disponible}}{% endif %}</td>
<td>{% if _bien.titulos %}{{ _bien.titulos }}{% else %}{{no_disponible}}{% endif %}</td>
<td>{% if _bien.entidad %}{{ _bien.entidad }}{% else %}{{no_disponible}}{% endif %}</td>
<td>{% if _bien.euros %}{{ _bien.euros | euros }}{% else %}{{no_disponible}}{% endif %}</td>
<td>{% if _bien.fecha_cotiz %}{{ _bien.fecha_cotiz }}{% else %}{{no_disponible}}{% endif %}</td>
<td>{% if _bien.otros %}{{ _bien.otros }}{% else %}{{no_disponible}}{% endif %}</td>